/*headers*/
h1.sbf-bold, h2.sbf-bold, h3.sbf-bold, h4.sbf-bold {
	color: #A9BCE0 !important;
	font-weight: bold !important;
}

h1.sbf, h2.sbf, h3.sbf, h4.sbf{
	color: #A9BCE0 !important;
}

h2.sbf-blue {
	color: #1E79E4!important;
}

.table-text {
	font-size: 16px;
}

.green {
	color: #73BA66 !important;
}

.red {
	color: #F21313 !important
}

.sbf-inactive {
	color: #91A6CE !important;
}

/*a styling*/
a.sbf {
	text-decoration: underline !important;
	color: #73BA66 !important;
	font-size: medium !important;
}

/*Adding margin to panel rows*/
div.sbf-panel-row {
	margin-right: 15px !important;
	margin-left: 15px !important;
}

/*button margin added to row*/
div.sbf-row {
	margin-bottom: 20px !important;
}

/*Over writing default Inspinia stuff*/
.nav > li.active {
	color: #3B414B !important; 
	background-color: #FDFEFF !important;
	border-left: none !important;
}

.nav > li {
	color: #3B414B !important; 
	background-color: #FDFEFF !important;
}

.nav.sbf-navbar > li > a {
	color: #3B414B !important;
	padding: 14px 20px 0px 25px !important; 
}

.nav> li.active > a {
	color: #3B414B !important; 
}

.nav-header {
	background-image:none !important;
}

.fw-img {
	min-width: 20px !important;
    display: inline-block !important;
    text-align: center !important;
}

ul.nav-second-level {
	background-color: #FDFEFF !important;
}

/*Hovering and focus settings for nav items*/


.navbar-default .nav> li > a.nav-box-top:hover, .navbar-default .nav > li > a.nav-box-top:focus{
	background-color: #FDFEFF !important;
}

/*Icons*/
i.nav-icon {
	font-size: 15px;
	color: #B2C3E4 !important;
}

i.nav-icon-big {
	font-size: 20px;
	color: #B2C3E4 !important;
}

i.sbf {
	color: #91A6CE !important;
}

em.sbf {
	color: #91A6CE !important;
}

em.help-icon {
	color: #B2C3E4 !important;
	font-size: medium;
}


/*ibox should have a shadow*/
div.ibox-sbf {
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.05));
}

/*Ibox that can't collapse*/
div.ibox-title-sbf-no-collapse {
	border-top-left-radius: 20px !important;
	border-top-right-radius:20px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

div.ibox-content-sbf-no-collapse {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
	border-top: none !important;
}

div.padding-bottom{
	padding-bottom: 80px !important;
}

/*If the box is collapsed all corners should be rounded*/
div.collapsed > div.ibox-title-sbf {
	border-radius: 20px !important;
}

/*If the box is not collapsed only the two bottom corners should be rounded*/
div.ibox-content-sbf {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
	background-color: #F0F7FF !important;
}

/*If the box is not collapsed only the two top corners should be rounded*/
div.border-bottom > div.ibox-title-sbf, div.ibox-title-sbf {
	border-top-left-radius: 20px !important;
	border-top-right-radius:20px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

/*other ibox styling */
div.ibox-button {
	background: #EFF5F4 !important;
	color: #73BA66 !important;
	height: 150px;
  	line-height: 150px;
  	text-align: center;
  	padding: 0px !important;
	font-size: small;
}

div.ibox-content-sbf-no-title {
	border-radius: 20px !important;
}

/* Sub Goal Box styling */
div.ibox-content.sub-goal-box {
	background-color: #EFF5F4 !important;
	border: none !important;
}

div.ibox-sbf.sub-goal-box {
	filter: none !important;
}

/*nav bar items styling*/
div.nav-box-top {
	border-radius: 8px !important;
	background-color: #EFF5F4 !important;
	padding: 10px !important;
}

div.nav-single-active {
	background: #73BA66 !important;
	color: white !important
}

span.nav-active {
	color: #73BA66 !important;
}

div.nav-box-top.no-collapse {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	background-color: #DBF2D7 !important;
}

/*creating the nav-box-bottom*/
ul.nav-second-level {
	padding: 0px 20px 0px 25px !important;
}

ul.nav-second-level li {
	padding: 0px !important;
	margin: 0px !important;
}

ul.nav-second-level > li > a {
	padding: 14px 20px 0px 10px !important;
	background-color: #EFF5F4 !important;
}

/*The last nav item in a second level list should have rounded corners so it will create a full rounded box with the nav-box-top*/
ul.nav-second-level > li:last-child > a {
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	padding-bottom: 14px !important;
}

/*Setting background color */
body.sbf {
	background-color: #EFF5F4 !important;
	font-family: Poppins;
	color: #3B414B;
}

/*sticking the logo to the bottom of the nav */
div.nav-logo-bottom-center {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px !important;
    margin-left:50px;
}
img.nav-logo {
    display: block;
    margin: 0;
}

/*Tab styling*/
div.panel-body {
	border-radius: 20px !important;
	filter: drop-shadow(10px 10px 15px #BCC9D9);
}

div.sbf-tab {
	border: #73BA66 solid !important;
}

.tabs-container > ul > li {
  	margin: 0px 10px !important;
  	/*the main page background color*/
  	background: #EFF5F4 !important;
}

.tabs-container > ul > li:first-child {
  	margin-left: 30px !important;
}

.nav-tabs {
	border: none !important;
}

.nav-link {
	border: none !important;
	padding: 10px 15px !important;
	border-top-left-radius: 8px !important;
  	border-top-right-radius: 8px !important;
  	/*the main page background color*/
  	background: #EFF5F4 !important;
}

.nav-link.active {
	background: #73BA66 !important; 
	color: white !important;
	filter: drop-shadow(10px 10px 15px #BCC9D9);
}

/*Inner Tab styling*/
div.panel-body.sbf-tab-inner {
	border-radius: 0px !important;
	filter: none !important;
}

div.sbf-tab-inner {
	border-top: #73BA66 solid !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
}

.tabs-container.sbf-inner-tabs-container > ul > li {
  	margin: 0px 10px !important;
  	/*the main page background color*/
  	background: white !important;
}

.nav-link.sbf-inner-nav-link {
	border: none !important;
	padding: 10px 15px !important;
	border-top-left-radius: 8px !important;
  	border-top-right-radius: 8px !important;
  	color: #B2C3E4 !important;
  	/*the main page background color*/
  	background: white !important;
}

.nav-link.active {
	background: #73BA66 !important; 
	color: white !important;
	filter: drop-shadow(10px 10px 15px #BCC9D9);
}

/*Style note card*/
div.note-card-background {
	background: #FFFEF3 !important;
}

textarea.note-textarea {
  	resize: none;
  	border: none !important;
  	background: #F4F0CD !important;
  	outline: none !important;
  	padding: 30px 10px 10px 10px !important;
  	margin: 0px !important;
  	/*Chrome's default is inline which means that there will be space between this and div, therefore block*/
  	display: block;
}

div.note-char-count {
	background: #F4F0CD !important;
	text-align: right !important;
	font-weight: bold !important;
	padding: 10px !important;
}

/*Style progress comment*/
textarea.progress-textarea {
  	resize: none;
  	border: none !important;
  	background: #EFF5F4 !important;
  	outline: none !important;
  	margin: 0px !important;
  	padding-top: 10px !important;
  	/*Chrome's default is inline which means that there will be space between this and div, therefore block*/
  	display: block;
  	border-top-right-radius: 5px;
  	border-top-left-radius: 5px;
}

div.progress-char-count {
	background: #EFF5F4 !important;
	text-align: right !important;
	font-weight: bold !important;
	padding: 5px !important;
	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
}

/*Datepicker*/
input.sbf-date {
	border: 2px solid;
	outline: none !important;
	border: none !important;
	background: #EFF5F4 !important;
	border-radius: 8px !important;
	padding-left: 10px !important;
}

input.sbf-addon-border-radius {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 0px !important;
}


.datepicker {
	border: none !important;
	z-index: 10000 !important;
}

span.input-group-addon.sbf {
	border: none !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 8px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 8px !important;
	background: #EFF5F4;
}

input.sbf-white-date {
	background: white !important;
}

span.sbf-white-date {
	background: white !important;
}

/*Style textarea*/
textarea.sbf-textarea {
  	resize: none;
  	border: none !important;
  	background: #EFF5F4 !important;
  	outline: none !important;
  	padding: 30px 10px 30px 10px !important;
}

textarea.white {
  	background: white !important;
}

textarea.border-radius {
  	border-radius: 10px !important;
}

textarea.less-padding {
  	padding: 10px !important;
}

textarea.sbf-disabled {
	resize: none;
  	border: none !important;
  	background: white !important;
  	outline: none !important;
  	padding-left: 0px !important;
}

/*Table styling*/
.table.sbf-bottom-border td{
	border-top: none !important;
	border-bottom: solid 1px #DDD !important;
}

.table.sbf-bottom-border th{
	color: #A9BCE0 !important; 
	border: none !important;
}

/*button styling*/
button.sbf-full-light {
	background: #EFF5F4 !important;
	font-weight: bold !important;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px !important;
}

button.green-text {
	color: #73BA66 !important;
}

button.sbf-full, a.sbf-full {
	background: #73BA66 !important;
	font-weight: bold !important;
	font-size: 13px;
	border-radius: 10px !important;
	color: white !important;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

button.sbf-full-red {
	background: #F21313 !important;
	font-weight: bold !important;
	border-radius: 10px !important;
	color: white !important;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

button.sbf-outline {
	background: white !important;
	font-weight: bold !important;
	border-radius: 10px !important;
	border: #73BA66 2px solid !important;
	color: #73BA66 !important;
}

button.sbf-white, a.sbf-white {
	background: white !important;
	font-weight: bold !important;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px !important;
}

button.side-padding {
	padding: 5px 70px !important;
}

button.padding {
	padding: 10px 25px !important;
}

button.selected {
	background: #73BA66 !important;
	color: white !important;
}

/*Modal styling*/
div.sbf-modal {
	border-radius: 20px !important;
}

div.sbf-modal-header {
	border: none !important;
	margin: 10px 10px 0px 10px !important;
	padding-top: 10px !important;
}
div.sbf-modal-body {
	margin: 0px 10px 10px 10px !important;
	padding-top: 0px !important;
	padding-bottom: 10px !important;
}

div.right-align-button {
	display: flex; 
	justify-content: flex-end;
}


div.label-input-row {
	display: block !important;
}

div.label-input-row:first-child {
	padding-left: 0px !important;
}

div.label-input-row:last-child {
	padding-right: 0px !important;
}

/*Form styling*/
label.sbf {
	color: #91A6CE !important;
	font-weight: bold !important;
}

input.sbf {
	outline: none !important;
	border: none !important;
	border-radius: 8px !important;
	background: #EFF5F4 !important;
	margin-bottom: 20px !important;
	
}

input.sbf-white {
	outline: none !important;
	border: none !important;
	border-radius: 8px !important;
	background: white !important;
	margin-bottom: 20px !important;
	
}

input.sbf:focus {
	outline: none !important;
	border: none !important;
}

input:read-only {
    background-color: #F1F1F1 !important;
}

input.sbf-disabled {
	padding-left: 0px !important;
	background-color: white !important;
}

select.sbf {
	outline: none !important;
	border: none !important;
	border-radius: 8px !important;
	background: #EFF5F4 !important;
	margin-bottom: 20px !important;
}

select.sbf:disabled {
	background: #F1F1F1 !important;
}

select.white {
	background: white !important;
}

.input-icons i {
	position: absolute;
}
          
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
}

span.search-filter-checkbox {
	background-color: #EFF5F4 !important; 
	border: none !important; 
	padding-left: 0px !important;
	display: flex !important; 
	justify-content: space-between !important; 
}

span.bottom-border {
	border-bottom: 1px solid !important; 
	border-color: #91A6CE !important;
}

/*Clickable*/
.clickable {
	cursor: pointer !important;
}

/*checkbox hack*/
input.i-checks {
  visibility: hidden;
}

/*Chart styling */
div.sbf-chart-background {
	background: #EFF5F4 !important;
	border-radius: 20px !important;
}

.c3 svg {
  font-size: 16px;
  font-weight: bold;
  color: #91A6CE !important;
}

.c3-xgrid-line line {
    stroke: #91A6CE;
    stroke-width:2px;
}
.c3-xgrid-line text {
    fill: #91A6CE;
    font-size: 16px;
    font-weight: bold;
    color: #91A6CE !important;
}

.c3-ygrid-line line {
    stroke: #91A6CE;
    stroke-width: 0.25px;
}

.c3-circle {
    fill: white !important;
  	stroke-width: 3px;
  	stroke: #73BA66;
  	r: 6;
}

.c3-circle._expanded_ {
  	fill: white !important;
  	stroke-width: 5px;
  	stroke: #73BA66;
  	r: 9;
}

.c3 .c3-axis-y path, .c3 .c3-axis-y line, .c3 .c3-axis-x path, .c3 .c3-axis-x line {
    display: none;
}

.c3-tooltip th {
  background-color: white !important;
  color: #8E8E8E !important;
  font-weight: 700 !important;
  font-size: 17px !important;
}

.c3-axis-y > .tick, .c3-axis-x > .tick{
	fill: #91A6CE !important;
}

.c3-legend-item {
	fill: #91A6CE !important;
}

.c3-tooltip {
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
}

.c3-xgrid-focus line {
  stroke: #91A6CE !important;
}

/*Clockpicker styling*/
span.sbf-white-clockpicker {
	background: white !important;
}

span.input-group-addon.sbf {
	border: none !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 8px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 8px !important;
}

/*PDF styling*/
div.background-box {
	border-radius: 10px !important;
	text-align: center !important; 
	background-color: #4F4F4F !important; 
	padding: 20px !important;
}

/*center*/
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*meeting invite sent box*/
div.invite-sent-box {
	background-color: white !important;
	border-radius: 20px;
	border: 1px solid #73BA66;
	box-sizing: border-box;
	margin-left: 0px !important;
	margin-right: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.slimScrollBar
{
    visibility: hidden;
}

/*Rule for firefox only
@-moz-document url-prefix() {
  div.input-group {
    display: contents !important;
  }
}
*/

/*Spinner*/
.modal-spinner {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;
}

.modal-spinner i {
    color: #B2C3E4 !important;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -0.642857145em;
    margin-top: -0.642857145em;
}

body.loading {
    overflow: hidden;
}

body.loading .modal-spinner {
    display: block;
}


body.fixed-sidebar #page-wrapper {
  margin: 0 0 0 300px;
}
body.body-small.fixed-sidebar.mini-navbar #page-wrapper {
  margin: 0 0 0 300px;
}
body.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
  width: 300px;
}
.fixed-sidebar.mini-navbar .nav-second-level.collapsing li a,
.nav-second-level.collapsing li a {
  min-width: 300px;
}
body.fixed-nav.fixed-nav-basic .navbar-fixed-top {
  left: 300px;
}
body.fixed-nav.fixed-nav-basic.fixed-sidebar.mini-navbar.body-small .navbar-fixed-top {
  left: 300px;
}
body.fixed-sidebar .navbar-static-side,
body.canvas-menu .navbar-static-side {
  width: 300px;
}

.popover {
    z-index: 9000;
}