<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header(datepicker=true, checkbox=true, clockpicker=true)" />
<body class="sbf fixed-sidebar">
    <div id="wrapper">
    	<nav th:replace="fragments/navbar :: navbar-aside(page='summary')" />
        <div id="page-wrapper">
        	<div class="row border-bottom">
        		<nav th:replace="fragments/navbar :: navbar-header" />
        	</div>
        	
	        <div class="wrapper wrapper-content">
	        	<div class="row">
	        		<h1 style="font-weight: bold; margin-left: 15px;">Borgerplanen</h1>
	        	</div>
				<div class="row">
					<div class="col-lg-9" style="margin-right: 0px !important;">
						<div class="row" style="display: block; margin-left: 0px;">
	        				<div class="ibox ibox-sbf">
			                    <div class="ibox-title ibox-title-sbf-no-collapse">
			                    	<div class="sbf-panel-row">
			                    		<h2 style="font-weight: bold">Mødedeltagere <a th:replace="fragments/help :: help (title='Mødedeltagere', content='Dem, der var tilstede på mødet. ')" /></h2>
			                    	</div>
			                    </div>
			                    <div class="ibox-content ibox-content-sbf-no-collapse">
			                    	
			                    	<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendPartyTable(parties = ${parties}, purpose = 'attend')"></div>
			                    	
			                    	<div th:if="${not #lists.isEmpty(partyRepresentatives)}" th:replace="course/fragments/invite_attend_send_tables :: inviteAttendPartyRepresentativeTable(partyRepresentatives = ${partyRepresentatives}, purpose = 'attend')"></div>
			                    	
			                    	<div class="row">
			                    		<div class="col-lg-6">
			                    			<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendInternalTable(internals = ${meetingInternalContacts}, purpose = 'attend')"></div>
			                    		</div>
			                    		<div class="col-lg-6">
			                    			<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendExternalTable(externals = ${meetingExternalContacts}, purpose = 'attend')"></div>
			                    		</div>
			                    	</div>
								</div>
			                </div>
	        			</div>
						<div class="row" style="display: block; margin-left: 0px;">
	        				<div class="ibox ibox-sbf">
			                    <div class="ibox-title ibox-title-sbf-no-collapse">
			                    	<div class="sbf-panel-row">
			                    		<h2 style="font-weight: bold">Dagsorden <a th:replace="fragments/help :: help (title='Dagsorden', content='For overblikkets skyld fremgår den udsendte dagsorden her ')" /></h2>
			                    		<div class="ibox-tools">
			                            	<img id="editAgendaImg" src="/img/edit.png" onclick="meetingSummaryService.editAgenda()"></img>
			                        	</div>
			                    	</div>
			                    </div>
			                    <div class="ibox-content ibox-content-sbf-no-collapse">
			                    	<textarea th:text="${meeting.agenda}" maxlength="255" id="agenda" rows="5" class="col-lg-12 sbf-textarea" disabled></textarea>
			                    </div>
			                </div>
	        			</div>
					</div>
					<div class="col-lg-3" style="padding-right: 50px;">
						<div id="placeBox" class="ibox ibox-sbf">
		                    <div class="ibox-title ibox-title-sbf-no-collapse">
		                    	<div class="sbf-panel-row">
		                    		<h2 style="font-weight: bold">Sted</h2>
		                    		<div class="ibox-tools">
		                            	<img id="editPlaceImg" src="/img/edit.png" onclick="meetingSummaryService.editPlace()"></img>
		                        	</div>
		                    	</div>
		                    </div>
		                    <div class="ibox-content ibox-content-sbf-no-collapse">
		                    	<label for="address" class="sbf">Adresse:</label>
		                    	<textarea id="address" th:text="${meeting.address}" maxlength="255" rows="3" class="col-lg-12 sbf-disabled sbf-textarea less-padding" disabled></textarea>
		                    	<label for="date" class="sbf">Dato:</label>
		                    	<input class="sbf-date date form-control sbf-disabled" id="date" autocomplete="off" disabled/>
		                    	<label for="time" class="sbf">Tid:</label>
		                    	<div class="clockpicker" id="meetingclockpicker" data-autoclose="true">
                                	<input id="time" type="text" class="sbf form-control sbf-disabled" disabled>
                           		</div>
		                    </div>
		                </div>
						<div class="ibox ibox-sbf">
		                    <div class="ibox-title ibox-title-sbf-no-collapse note-card-background">
		                    	<div class="sbf-panel-row">
		                    		<h2 style="font-weight: bold">Husk <a th:replace="fragments/help :: help (title='Husk', content='Intern note med stikord, der ikke er notatpligtige.')" /></h2>
		                    	</div>
		                        
		                    </div>
		                    <div class="ibox-content ibox-content-sbf-no-collapse note-card-background">
		                    	<textarea id="note" rows="12" th:text="${course.notes}" class="col-lg-12 note-textarea" onkeyup="meetingSummaryService.countChar();" maxlength="250"></textarea>
		                    	<div id="charNum" class="note-char-count"></div>
		                    </div>
		                </div>
					</div>
				</div>
				<div class="row">
					<h2 style="font-weight: bold; margin-left: 15px !important">Borgerplanen; Mål- og aftaleskema</h2>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="tabs-container">
	                        <ul class="nav nav-tabs" role="tablist">
	                            <li th:each="party : ${parties}"><a class="nav-link dream-nav-link" data-toggle="tab" th:href="'#tab-' + ${party.id}" th:attr="data-id=${party.id}" th:text="${party.party.firstName}"></a></li>
	                        </ul>
	                        <div class="tab-content">
	                            <div  th:each="party : ${parties}" role="tabpanel" th:id="'tab-' + ${party.id}" th:attr="data-id=${party.id}" class="tab-pane dream-tab-pane">
	                                <div class="panel-body sbf-tab">
										<div th:id="'dreamTabFragment' + ${party.id}"></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
					</div>
				</div>
				<div class="row right-align-button col-lg-12" style="margin-top: 30px !important">
					<a class="btn sbf-full" style="padding: 20px;" th:href="@{'/journalize?courseId=' + ${course.id}}">Videre til send og journaliser</a>
				</div>
	        </div>
        </div>
    </div>
    
    <!-- Modal html fragments -->
    <div th:replace="course/fragments/add_edit_external_modal :: addEditExternalModal"></div>
    <div th:replace="course/fragments/add_edit_internal_modal :: addEditInternalModal"></div>
    <div th:replace="course/fragments/end_goal_modal :: endGoalModal"></div>
    <div th:replace="course/fragments/add_goal_modal :: addGoalModal"></div>
    <div th:replace="course/fragments/end_sub_goal_modal :: endSubGoalModal"></div>
    
    <!-- Script fragments  -->
	<div th:replace="fragments/footer :: scripts(datepicker=true, checkbox=true, clockpicker=true)" />
	<div th:replace="course/fragments/add_edit_external_modal :: addEditExternalModalScript(page=meetingsummary, courseId=${course.id})" />
	<div th:replace="course/fragments/add_edit_internal_modal :: addEditInternalModalScript(page=meetingsummary, courseId=${course.id})" />
    <div th:replace="course/fragments/dream_tab_fragment :: dreamTabScript" />
    <div th:replace="course/fragments/goal_tab_fragment :: goalTabScript" />
    <div th:replace="course/fragments/end_goal_modal :: endGoalModalScript" />
    <div th:replace="course/fragments/add_goal_modal :: addGoalModalScript" />
    <div th:replace="course/fragments/sub_goals :: subGoalsScript" />
    <div th:replace="course/fragments/end_sub_goal_modal :: endSubGoalModalScript" />
    <script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var meetingId = [[${meeting.id}]];
			var baseUrl = [[@{/}]];
			var meetingTime = [[${meeting.meetingTime}]];
			var firstPartyId = [[${firstPartyId}]];
			var globalCourseId = [[${course.id}]];
		+]*/
		
		var token = $("meta[name='_csrf']").attr("content");
		var meetingSummaryService, tabService;
		$(document).ready(function() {
			meetingSummaryService = new MeetingSummaryService();
			meetingSummaryService.init();

			tabService = new TabService();
			tabService.init();
		});
		
		function MeetingSummaryService() {
			this.init = function() {
				meetingSummaryService.countChar();
				
				//Datepicker
				$('#date').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd/mm/yyyy",
					orientation: "bottom",
					enableOnReadonly: false,
					language: "da"
				});
				if (meetingTime != null) {
					var date = new Date(meetingTime);
					$('#date').datepicker('update', date);
				}
				$('#date').change(function(){
					meetingSummaryService.saveDateTime(this.value, $('#time').val(), true);
			    });
				
				//clockpicker
				if (meetingTime != null) {
					var time = meetingTime.split("T")[1].split(":")[0] + ":" + meetingTime.split("T")[1].split(":")[1];
					$('#meetingclockpicker').clockpicker({
						'default': time
					});
					$('#time').val(time);
				} else {
					$('#meetingclockpicker').clockpicker({
						'default': '09:30'
					});
					$('#time').val('09:30');
				}
				
			    $('#time').change(function(){
			    	meetingSummaryService.saveDateTime($('#date').val(), this.value, true);
			    });
				
				//textarea listeners for saving
			    $('#note').on('blur', function(e) {
			    	if (this.value != "") {
			    		meetingSummaryService.saveNote(this.value, true)
			    	}
				});
			    $('#agenda').on('blur', function(e) {
					meetingSummaryService.saveAgenda(this.value, true);
					$("#agenda").attr('disabled', true);
					$("#editAgendaImg").attr('hidden', false);
				});
			    
			    $('#address').on('blur', function(e) {
					meetingSummaryService.saveAddress(this.value, true);
				});
			    
			    //on click outside place box
			    $(document).click((event) => {
			    	if (!$(event.target).closest('#placeBox').length) {
		    		    $("#address").attr('disabled', true);
						$("#address").addClass("sbf-disabled");
						$("#date").attr('disabled', true);
						$("#date").addClass("sbf-disabled");
						$("#time").attr('disabled', true);
						$("#time").addClass("sbf-disabled");
						$("#editPlaceImg").attr('hidden', false);
			    	}        
			    });
				
			    //checkboxlisteners
				$(document).on('ifChanged','.external-checkbox', function(event){
					var meetingExternalId = $(this).data("id");
					var attended = $(this).prop('checked');
					meetingSummaryService.toggleAttendedMeetingExternal(meetingExternalId, attended);
				});
				$(document).on('ifChanged','.internal-checkbox', function(event){
					var meetingInternalId = $(this).data("id");
					var attended = $(this).prop('checked');
					meetingSummaryService.toggleAttendedMeetingInternal(meetingInternalId, attended);
				});
				$(document).on('ifChanged','.party-checkbox', function(event){
					var meetingPartyId = $(this).data("id");
					var attended = $(this).prop('checked');
					meetingSummaryService.toggleAttendedMeetingParty(meetingPartyId, attended);
				});
				$(document).on('ifChanged','.partyrepresentative-checkbox', function(event){
					var meetingPartyRepresentativeId = $(this).data("id");
					var attended = $(this).prop('checked');
					meetingSummaryService.toggleAttendedMeetingPartyRepresentative(meetingPartyRepresentativeId, attended);
				});

				//popover
				$('[data-toggle="popover"]').popover();
			}
			
			this.countChar = function() {
				var len = $("#note").val().length;
	            $('#charNum').text(len + "/250 tegn ");
			}
			
			this.editAgenda = function () {
				$("#agenda").attr('disabled', false);
				$("#agenda").focus();
				$("#editAgendaImg").attr('hidden', true);
			}
			
			this.editPlace = function () {
				$("#address").attr('disabled', false);
				$("#address").removeClass("sbf-disabled");
				$("#date").attr('disabled', false);
				$("#date").removeClass("sbf-disabled");
				$("#time").attr('disabled', false);
				$("#time").removeClass("sbf-disabled");
				$("#editPlaceImg").attr('hidden', true);
			}
			
			this.saveDateTime = function(date, time, showPopup) {
				var splitDate = date.split("/");
				if (splitDate != "" && (date.length > 10 || splitDate.length !=3 || splitDate[0].length > 2 || splitDate[1].length > 2 || splitDate[2].length > 4 || !/^-?\d+$/.test(splitDate[0]) || !/^-?\d+$/.test(splitDate[1])|| !/^-?\d+$/.test(splitDate[2]))) {
					toastr.warning("Datoen kan ikke gemmes, da den er ugyldig");
					return;
				}
				var splitTime = time.split(":");
				if (splitTime != "" && (time.length > 5 || splitTime.length != 2 || splitTime[0].length != 2 || splitTime[1].length != 2 || !/^-?\d+$/.test(splitTime[0]) || !/^-?\d+$/.test(splitTime[1]))) {
					toastr.warning("Tidspunktet kan ikke gemmes, da det er ugyldigt");
					return;
				}
				
				if (date == "" || time == "") {
					toastr.warning("Der skal vælges både en dato og et tidspunkt før disse gemmes.")
				} else {
					var datesplit = date.split("/");
					$.ajax({
						url : baseUrl + 'rest/invite/savemeetingtime/' + meetingId + "?date=" + datesplit[2] + "-" + datesplit[1] + "-" + datesplit[0] + "T"+time,
						type : 'post',
						contentType: 'application/json',
						headers: {
							'X-CSRF-TOKEN': token
						},
						success : function(response) {
							if (showPopup) {
								toastr.success("Mødetidspunktet er gemt");
							}
						},
						error: function(jqXHR, textStatus, error) {
							toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
						}
					});
				}
			}
			
			this.saveAddress = function(address, showPopup) {
				$.ajax({
					url : baseUrl + 'rest/invite/saveaddress/' + meetingId,
					type : 'post',
					data : address,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (showPopup) {
							toastr.success("Adressen er gemt");
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveAgenda = function(agenda, showPopup) {
				$.ajax({
					url : baseUrl + 'rest/invite/saveagenda/' + meetingId,
					type : 'post',
					data : agenda,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (showPopup) {
							toastr.success("Dagsordenen er gemt");
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveNote = function(note, showPopup) {
				$.ajax({
					url : baseUrl + 'rest/summary/savenote/' + meetingId,
					type : 'post',
					data : note,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (showPopup) {
							toastr.success("Noten er gemt");
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveAll = function (){
				meetingSummaryService.saveDateTime($('#date').val(), $('#time').val(), false);
				meetingSummaryService.saveAgenda($('#agenda').val(), false);
				meetingSummaryService.saveInvitation($('#invitation').val(), false);
			}
			
			this.toggleAttendedMeetingParty = function(id, attended) {
				$.ajax({
					url : baseUrl + 'rest/summary/meetingparty/' + id + '?attended=' + attended,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (attended) {
							toastr.success("Parten deltog")
						} else {
							toastr.success("Parten deltog ikke")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.toggleAttendedMeetingPartyRepresentative = function(id, attended) {
				$.ajax({
					url : baseUrl + 'rest/summary/meetingpartyrepresentative/' + id + '?attended=' + attended,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (attended) {
							toastr.success("Partsrepræsentanten deltog")
						} else {
							toastr.success("Partsrepræsentanten deltog ikke")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.toggleAttendedMeetingInternal = function(id, attended) {
				$.ajax({
					url : baseUrl + 'rest/summary/meetinginternal/' + id + '?attended=' + attended,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (attended) {
							toastr.success("Den interne deltog")
						} else {
							toastr.success("Den interne deltog ikke")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.toggleAttendedMeetingExternal = function(id, attended) {
				$.ajax({
					url : baseUrl + 'rest/summary/meetingexternal/' + id + '?attended=' + attended,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (attended) {
							toastr.success("Den eksterne deltog")
						} else {
							toastr.success("Den eksterne deltog ikke")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
		}
		
		function TabService() {
			this.init = function () {
				//Setting the active tab
				$('.dream-nav-link').each(function() {
					  if ($(this).data("id") == firstPartyId) {
						  $(this).addClass("active");
					  }
				});
				
				$('.dream-tab-pane').each(function() {
					var id = $(this).data("id");
					var url = baseUrl + "summary/fragments/dreamtab?meetingPartyId=" + id;
				    if (id == firstPartyId) {
				  		$(this).addClass("active");
				  		$("#dreamTabFragment" + id).load(url, function(){
				  			dreamTabFragmentService.init(id);
				  		});
				    }
				});
				
				//adding tab listener
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					var id = $(e.target).data("id");
					var url = baseUrl + "summary/fragments/dreamtab?meetingPartyId=" + id;
						
					$("#dreamTabFragment" + id).load(url, function(){
						dreamTabFragmentService.init(id);
					});
				});
			}
			
			this.reloadDreamTabFragment = function (selectLastTab) {
				var meetingPartyId = $(".dream-nav-link.active").data("id");
				var goalId = $(".goal-nav-link.active." + meetingPartyId).data("id");
				var url = baseUrl + "summary/fragments/dreamtab?meetingPartyId=" + meetingPartyId;
				$("#dreamTabFragment" + meetingPartyId).load(url, function(){
					dreamTabFragmentService.init(meetingPartyId);
					$(".goal-nav-link.active." + meetingPartyId).removeClass("active")
					if( selectLastTab ) {
						setTimeout(function() {
							$($(".goal-nav-link." + meetingPartyId)[$(".goal-nav-link." + meetingPartyId).length-1]).click();
						},300);
					}
					else {
						$(".goal-nav-link." + meetingPartyId).each(function(index) {
							if ($(this).data("id") == goalId) {
								$(this).addClass("active");
							}
						});
					}
					if ($(".goal-nav-link.active." + meetingPartyId).length == 0) {
						$(".goal-nav-link." + meetingPartyId).first().addClass("active");
					}
					
				});
				
			}
		}

		/*]]>*/
	</script>
</body>
</html>