<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header(datepicker=true, checkbox=true, clockpicker=true)" />
<body class="sbf fixed-sidebar">
    <div id="wrapper">
    	<nav th:replace="fragments/navbar :: navbar-aside(page='invite')" />
        <div id="page-wrapper">
        	<div class="row border-bottom">
        		<nav th:replace="fragments/navbar :: navbar-header" />
        	</div>
        	
	        <div class="wrapper wrapper-content">
	        	<div class="row">
	        		<h1 style="font-weight: bold; margin-left: 15px;">Mødeinvitation</h1>
	        	</div>
	        	<div id="meetingInviteSentBox" class="row invite-sent-box" th:if="${meeting.inviteSent}">
	        		<span style="margin-left: 15px;"><img src="/img/check.png"> <span th:text="'Mødeinvitation sendt ' + ${#temporals.format(meeting.inviteTime, 'dd-MM-yyyy')} + ' kl ' + ${#temporals.format(meeting.inviteTime, 'H:mm')}"></span></span>
	        	</div> 
	        	<div id="tempMeetingInviteSentBox" class="row invite-sent-box" hidden>
	        		<span style="margin-left: 15px;"><img src="/img/check.png"> <span id="tempMeetingInviteSentText" ></span></span>
	        	</div> 
				<div class="row">
					<div class="col-lg-6 label-input-row" style="margin-right: 0px !important;">
						<h2 style="font-weight: bold; margin-left: 15px;">Mødeinformation</h2>
						<div class="col-lg-12 row" style="padding-right: 0px; padding-left: 0px; margin-right: 0px; margin-left: 0px;">
	        				<div class="form-group col-lg-6">
	        					<label for="date" class="sbf">Mødedato</label>
					    		<div class="input-group-btn">
					      			<div class="input-group-prepend">
					        			<input id="date" class="sbf-white-date sbf-date date sbf-addon-border-radius" autocomplete="off" style="height: 46px !important; width: 100%"/>
					        			<span class="sbf-white-date input-group-text sbf input-group-addon" style="height: 46px !important;" id="inviteDateImg"><img src="/img/calendar.png"></span>
					      			</div>
					    		</div> 
					  		</div>
					  		<div class="form-group col-lg-6" style="padding-right: 0px;">
	        					<label for="time" class="sbf">Tid</label>
					    		<div class="input-group-btn">
					      			<div class="input-group-prepend clockpicker" id="meetingclockpicker" data-autoclose="true">
					        			<input id="time" class="sbf-white  form-control sbf-addon-border-radius" autocomplete="off" style="height: 46px !important; padding-right: 15px; border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important;"/>
					        			<span class="sbf-white-clockpicker input-group-text sbf input-group-addon" style="height: 46px !important;"><img src="/img/down.png"></span>
					      			</div>
					    		</div> 
					  		</div>
			            </div>
	        			<div class="row label-input-row" style="display: block; margin-left: 15px; margin-bottom: 20px; margin-right: 0px !important;">
	        				<label for="address" class="sbf">Adresse</label>
	        				<textarea th:text="${meeting.address}" id="address" rows="3" class="col-lg-12 white sbf-textarea border-radius less-padding"></textarea>
	        			</div>
	        			
	        			<div class="row" style="display: block; margin-left: 15px; margin-right: 0px !important;">
	        				<div class="ibox ibox-sbf">
			                    <div class="ibox-title ibox-title-sbf-no-collapse">
			                    	<div class="sbf-panel-row">
			                    		<h2 style="font-weight: bold">Dagsorden <a th:replace="fragments/help :: help (title='Dagsorden', content='Dagsorden udarbejdes i sammenarbejde med borger med afsæt i, hvad der aktuelt er brug for at drøfte og følge op på. ')" /></h2>
			                    	</div>
			                        
			                    </div>
			                    <div class="ibox-content ibox-content-sbf-no-collapse">
			                    	<textarea th:text="${meeting.agenda}"  id="agenda" rows="5" class="col-lg-12 sbf-textarea"></textarea>
									<span><a target="_blank" th:if='${agendaLink != ""}' th:href="${agendaLink}" class="sbf">Læs mere om den gode dagsorden i Tovholdermappen</a></span>
			                    </div>
			                </div>
	        			</div>
	        			<div class="row" style="display: block; margin-left: 15px; margin-right: 0px !important;">
	        				<div class="ibox ibox-sbf">
			                    <div class="ibox-title ibox-title-sbf-no-collapse">
			                    	<div class="sbf-panel-row">
			                    		<h2 style="font-weight: bold">Indledende tekst til følgebrev <a th:replace="fragments/help :: help (title='Invitation', content='Kort følgetekst til borger, når dagsorden sendes (som udgangspunkt mindst 7 dage før mødet afholdes). ')" /></h2>
			                    	</div>
			                        
			                    </div>
			                    <div class="ibox-content ibox-content-sbf-no-collapse">
			                    	<textarea th:text="${meeting.invitation}" id="invitation" rows="5" class="col-lg-12 sbf-textarea"></textarea>
			                    </div>
			                </div>
	        			</div>
					</div>
					<div class="col-lg-6" style="padding-right: 200px;">
						<h2 style="font-weight: bold;">Mødedeltagere <a th:replace="fragments/help :: help (title='Mødedeltagere', content='Tag aktiv stilling til, hvilke fagpersoner der er relevante i forhold til dette mødes dagsorden.')" /></h2>
						<div class="row" style="display: block; margin-left: 0px;">
	        				<div class="ibox ibox-sbf">
			                    <div class="ibox-content ibox-content-sbf-no-collapse ibox-content-sbf-no-title">
			                    	
			                    	<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendPartyTable(parties = ${parties}, purpose = 'invite')"></div>
			                    	
			                    	<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendPartyRepresentativeTable(partyRepresentatives = ${partyRepresentatives}, purpose = 'invite')"></div>
			                    	
			                    	<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendInternalTable(internals = ${internals}, purpose = 'invite')"></div>
			                    	
			                    	<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendExternalTable(externals = ${externals}, purpose = 'invite')"></div>
									
								</div>
			                </div>
	        			</div>
        				<button class="btn sbf-full col-lg-12" style="margin-left: 0px; height: 44px;" onclick="pdfModalService.openModal()">Se brev til borger</button>
					</div>
				</div>
	        </div>
        </div>
    </div>
    
    <!-- Modal html fragments -->
    <div th:replace="course/fragments/add_edit_external_modal :: addEditExternalModal"></div>
    <div th:replace="course/fragments/add_edit_internal_modal :: addEditInternalModal"></div>
    <div th:replace="course/fragments/pdf_viewer_modal :: pdfPreviewModal"></div>
    
    <!-- Script fragments  -->
	<div th:replace="fragments/footer :: scripts(datepicker=true, checkbox=true, clockpicker=true, pdf=true)" />
	<div th:replace="course/fragments/add_edit_external_modal :: addEditExternalModalScript(page=meetinginvite, courseId=${course.id})" />
	<div th:replace="course/fragments/add_edit_internal_modal :: addEditInternalModalScript(page=meetinginvite, courseId=${course.id})" />
	<div th:replace="course/fragments/pdf_viewer_modal :: pdfPreviewModalScript" />
    <script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var meetingId = [[${meeting.id}]];
			var baseUrl = [[@{/}]];
			var meetingTime = [[${meeting.meetingTime}]];
		+]*/
		
		var token = $("meta[name='_csrf']").attr("content");
		var meetingInviteService, pdfModalService;
		$(document).ready(function() {
			meetingInviteService = new MeetingInviteService();	
			pdfModalService = new PdfModalService();
			meetingInviteService.init();
			
		});
		
		function MeetingInviteService() {
			this.init = function() {
				//Datepicker
				$('#date').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd/mm/yyyy",
					orientation: "bottom",
					enableOnReadonly: false,
					language: "da"
				});
				$("#inviteDateImg").on("click",function() {
					$('#date').trigger("focus");
				});
				if (meetingTime != null) {
					var date = new Date(meetingTime);
					$('#date').datepicker('update', date);
				}
				$('#date').change(function(){
					meetingInviteService.saveDateTime(this.value, $('#time').val(), true);
			    });
				
				//clockpicker
				if (meetingTime != null) {
					var time = meetingTime.split("T")[1].split(":")[0] + ":" + meetingTime.split("T")[1].split(":")[1];
					$('#meetingclockpicker').clockpicker({
						'default': time
					});
					$('#time').val(time);
				} else {
					$('#meetingclockpicker').clockpicker({
						'default': '09:30'
					});
					$('#time').val('09:30');
				}
				
			    $('#time').change(function(){
			    	meetingInviteService.saveDateTime($('#date').val(), this.value, true);
			    });
				
			    //textarea listeners for saving
			    $('#address').on('blur', function(e) {
		    		meetingInviteService.saveAddress(this.value, true)
				});
			    $('#agenda').on('blur', function(e) {
					meetingInviteService.saveAgenda(this.value, true)
				});
			    $('#invitation').on('blur', function(e) {
					meetingInviteService.saveInvitation(this.value, true)
				});
			    
			    //checkboxlisteners
			    $(document).on('ifChanged','.external-checkbox', function(event){
					var meetingExternalId = $(this).data("id");
					var invited = $(this).prop('checked');
					meetingInviteService.toggleInvitedMeetingExternal(meetingExternalId, invited);
				});
			    $(document).on('ifChanged','.internal-checkbox', function(event){
					var meetingInternalId = $(this).data("id");
					var invited = $(this).prop('checked');
					meetingInviteService.toggleInvitedMeetingInternal(meetingInternalId, invited);
				});
			    $(document).on('ifChanged','.party-checkbox', function(event){
					var meetingPartyId = $(this).data("id");
					var invited = $(this).prop('checked');
					meetingInviteService.toggleInvitedMeetingParty(meetingPartyId, invited);
				});
			    $(document).on('ifChanged','.partyrepresentative-checkbox', function(event){
					var meetingPartyRepresentativeId = $(this).data("id");
					var invited = $(this).prop('checked');
					meetingInviteService.toggleInvitedMeetingPartyRepresentative(meetingPartyRepresentativeId, invited);
				});
			    
			    
			    //popover
				$('[data-toggle="popover"]').popover();
			}
			
			this.saveDateTime = function(date, time, showPopup) {
				var splitDate = date.split("/");
				if (splitDate != "" && (date.length > 10 || splitDate.length !=3 || splitDate[0].length > 2 || splitDate[1].length > 2 || splitDate[2].length > 4 || !/^-?\d+$/.test(splitDate[0]) || !/^-?\d+$/.test(splitDate[1])|| !/^-?\d+$/.test(splitDate[2]))) {
					toastr.warning("Datoen kan ikke gemmes, da den er ugyldig");
					return;
				}
				var splitTime = time.split(":");
				if (splitTime != "" && (time.length > 5 || splitTime.length != 2 || splitTime[0].length != 2 || splitTime[1].length != 2 || !/^-?\d+$/.test(splitTime[0]) || !/^-?\d+$/.test(splitTime[1]))) {
					toastr.warning("Tidspunktet kan ikke gemmes, da det er ugyldigt");
					return;
				}
				
				if (date == "" || time == "") {
					toastr.warning("Der skal vælges både en dato og et tidspunkt før disse gemmes.")
				} else {
					var datesplit = date.split("/");
					$.ajax({
						url : baseUrl + 'rest/invite/savemeetingtime/' + meetingId + "?date=" + datesplit[2] + "-" + datesplit[1] + "-" + datesplit[0] + "T"+time,
						type : 'post',
						contentType: 'application/json',
						headers: {
							'X-CSRF-TOKEN': token
						},
						success : function(response) {
							if (showPopup) {
								toastr.success("Mødetidspunktet er gemt");
							}
						},
						error: function(jqXHR, textStatus, error) {
							toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
						}
					});
				}
			}
			
			this.saveAddress = function(address, showPopup) {
				$.ajax({
					url : baseUrl + 'rest/invite/saveaddress/' + meetingId,
					type : 'post',
					data : address,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (showPopup) {
							toastr.success("Adressen er gemt");
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveAgenda = function(agenda, showPopup) {
				$.ajax({
					url : baseUrl + 'rest/invite/saveagenda/' + meetingId,
					type : 'post',
					data : agenda,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (showPopup) {
							toastr.success("Dagsordenen er gemt");
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveInvitation = function(invitation, showPopup) {
				$.ajax({
					url : baseUrl + 'rest/invite/saveinvitation/' + meetingId,
					type : 'post',
					data : invitation,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (showPopup) {
							toastr.success("Invitationsbeskeden er gemt");
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveAll = function (){
				meetingInviteService.saveDateTime($('#date').val(), $('#time').val(), false);
				meetingInviteService.saveAddress($('#address').val(), false);
				meetingInviteService.saveAgenda($('#agenda').val(), false);
				meetingInviteService.saveInvitation($('#invitation').val(), false);
			}
			
			this.toggleInvitedMeetingParty = function(id, invited) {
				$.ajax({
					url : baseUrl + 'rest/invite/meetingparty/' + id + '?invited=' + invited,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (invited) {
							toastr.success("Tilføjet som mødedeltager")
						} else {
							toastr.success("Fjernet som mødedeltager")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.toggleInvitedMeetingPartyRepresentative = function(id, invited) {
				$.ajax({
					url : baseUrl + 'rest/invite/meetingpartyrepresentative/' + id + '?invited=' + invited,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (invited) {
							toastr.success("Tilføjet som mødedeltager")
						} else {
							toastr.success("Fjernet som mødedeltager")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.toggleInvitedMeetingInternal = function(id, invited) {
				$.ajax({
					url : baseUrl + 'rest/invite/meetinginternal/' + id + '?invited=' + invited,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (invited) {
							toastr.success("Tilføjet som mødedeltager")
						} else {
							toastr.success("Fjernet som mødedeltager")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.toggleInvitedMeetingExternal = function(id, invited) {
				$.ajax({
					url : baseUrl + 'rest/invite/meetingexternal/' + id + '?invited=' + invited,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (invited) {
							toastr.success("Tilføjet som mødedeltager")
						} else {
							toastr.success("Fjernet som mødedeltager")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
		}
		
		function PdfModalService() {
			this.openModal = function() {
				var date = $("#date").val();
				var time = $("#time").val();
				var address = $("#address").val();
				var agenda = $("#agenda").val();
				var invitation = $("#invitation").val();
				
				if (date == null || date == "" || time == null || time == "" || address == null || address == "" || agenda == null || agenda == "" || invitation == null || invitation == "") {
					toastr.warning("Brevet kan ikke vises før alle felter er udfyldt");
				} else {
					meetingInviteService.saveAll();
					$("#pdfPreviewModal").modal("show");
					$("#inviteBtn").attr('hidden', false);
					$('#inviteBtn').removeAttr('onclick');
					$('#inviteBtn').attr('onClick', 'pdfModalService.sendInvite()');
					modalPdfService.init(baseUrl + "invite/pdf?id=" + meetingId);
				}
			}
			
			this.sendInvite = function() {
				$.ajax({
					url : baseUrl + 'rest/invite/sendinvite/' + meetingId,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						modalPdfService.closeModal();
						toastr.success("Invitationen er sendt")
						$("#tempMeetingInviteSentBox").attr('hidden', false);
						$("#meetingInviteSentBox").attr('hidden', true);
						var date = new Date();
						var minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
						var formattedDate = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear() + " kl " + date.getHours() + ":" + minutes;
						$("#tempMeetingInviteSentText").text("Mødeinvitation sendt " + formattedDate)
					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
		}
		

		/*]]>*/
	</script>
</body>
</html>