<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header(checkbox=true)" />
<body class="sbf fixed-sidebar">
    <div id="wrapper">
    	<nav th:replace="fragments/navbar :: navbar-aside(page='journalize')" />
        <div id="page-wrapper">
        	<div class="row border-bottom">
        		<nav th:replace="fragments/navbar :: navbar-header" />
        	</div>
        	
	        <div class="wrapper wrapper-content">
	        	<div class="row">
	        		<h1 style="font-weight: bold; margin-left: 15px;">Send og journaliser</h1>
	        	</div>
				<div class="row">
					<div class="col-lg-12" style="margin-right: 0px !important;">
        				<div class="ibox ibox-sbf">
		                    <div class="ibox-title ibox-title-sbf-no-collapse">
		                    	<div class="sbf-panel-row">
		                    		<h2 style="font-weight: bold">Modtagere </h2>
		                    	</div>
		                    </div>
		                    <div class="ibox-content ibox-content-sbf-no-collapse">
		                    	<div class="row">
		                    		<div class="col-lg-6">
		                    			<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendPartyTable(parties = ${parties}, purpose = 'send')"></div>
		                    		</div>
		                    		<div class="col-lg-6">
		                    			<div th:replace="course/fragments/invite_attend_send_tables :: inviteAttendPartyRepresentativeTable(partyRepresentatives = ${meetingPartyRepresentatives}, purpose = 'send')"></div>
		                    		</div>
		                    	</div>
							</div>
		                </div>
	        			<div class="ibox ibox-sbf">
		                    <div class="ibox-title ibox-title-sbf-no-collapse">
		                    	<div class="sbf-panel-row">
		                    		<h2 style="font-weight: bold">Indledende tekst til følgebrev</h2>
		                    	</div>
		                        
		                    </div>
		                    <div class="ibox-content ibox-content-sbf-no-collapse">
		                    	<textarea th:text="${meeting.letter}" id="letter" rows="5" class="col-lg-12 sbf-textarea"></textarea>
		                    </div>
		                </div>
					</div>
				</div>
				<div class="row right-align-button col-lg-12">
					<a class="btn sbf-white" style="padding: 10px;" th:href="@{'/summary?courseId=' + ${meeting.course.id}}">Tilbage til Borgerplanen</a>
					&nbsp &nbsp<button class="btn sbf-full" style="padding: 10px;" onclick="pdfModalService.openModal()">Se brev til borger</button>
				</div>
	        </div>
        </div>
    </div>
    
    <!-- Modal html fragments -->
    <div th:replace="course/fragments/pdf_viewer_modal :: pdfPreviewModal"></div>
    
    <!-- Script fragments  -->
	<div th:replace="fragments/footer :: scripts(checkbox=true, pdf=true)" />
	<div th:replace="course/fragments/pdf_viewer_modal :: pdfPreviewModalScript" />
    <script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
			var meetingId = [[${meeting.id}]];
			var courseId = [[${meeting.course.id}]]
		+]*/
		
		var token = $("meta[name='_csrf']").attr("content");
		var meetingJournalizeService, pdfModalService;
		$(document).ready(function() {
			meetingJournalizeService = new MeetingJournalizeService();	
			meetingJournalizeService.init();
			pdfModalService = new PdfModalService();
		});
		
		function MeetingJournalizeService() {
			this.init = function() {
				
				//listeners
				$(document).on('ifChanged','.party-checkbox', function(event){
					var meetingPartyId = $(this).data("id");
					var sendTo = $(this).prop('checked');
					meetingJournalizeService.toggleSendToMeetingParty(meetingPartyId, sendTo);
				});
			    $(document).on('ifChanged','.partyrepresentative-checkbox', function(event){
					var meetingPartyRepresentativeId = $(this).data("id");
					var sendTo = $(this).prop('checked');
					meetingJournalizeService.toggleSendToMeetingPartyRepresentative(meetingPartyRepresentativeId, sendTo);
				});
			    $('#letter').on('blur', function(e) {
			    	meetingJournalizeService.saveInvitation(this.value, true);
				});
			}
			
			this.toggleSendToMeetingParty = function(id, send) {
				$.ajax({
					url : baseUrl + 'rest/journalize/meetingparty/' + id + '?send=' + send,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (send) {
							toastr.success("Parten modtager nu følgebrevet")
						} else {
							toastr.success("Parten modtager nu ikke længere følgebrevet")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.toggleSendToMeetingPartyRepresentative = function (id, send) {
				$.ajax({
					url : baseUrl + 'rest/journalize/meetingpartyrepresentative/' + id + '?send=' + send,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (send) {
							toastr.success("Partsrepræsentanten modtager nu følgebrevet")
						} else {
							toastr.success("Partsrepræsentanten modtager nu ikke længere følgebrevet")
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveInvitation = function(letter, showPopup) {
				$.ajax({
					url : baseUrl + 'rest/journalize/saveletter/' + meetingId,
					type : 'post',
					data : letter,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						if (showPopup) {
							toastr.success("Beskeden er gemt");
						}
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
		}
		
		function PdfModalService() {
			this.openModal = function() {
			    meetingJournalizeService.saveInvitation($("#letter").val(), false);
				$("#pdfPreviewModal").modal("show");
				$("#modalPdfHeader").text("Følgebrev preview");
				$("#journalizeBtn").attr('hidden', false);
				$('#journalizeBtn').removeAttr('onclick');
				$('#journalizeBtn').attr('onClick', 'pdfModalService.journalize()');
				modalPdfService.init(baseUrl + "journalize/pdf?id=" + meetingId);
			}
			
			this.journalize = function() {
				$.ajax({
					url : baseUrl + 'rest/journalize/send/' + meetingId,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						modalPdfService.closeModal();
						swal({
							html: true,
							title : "Referatet er sendt til borger via digitalpost og referatet er journaliseret i SBSYS.",
							text : "Der er oprettet et nyt møde og du vil nu blive sendt videre til mødets invitationsside",
							showCancelButton : false,
							confirmButtonColor : "#4765a0",
							confirmButtonText : "Ok",
							closeOnConfirm : true,
							allowOutsideClick: false
						},
						function (confirm) {
							if (confirm) {
								window.location.href = baseUrl + "invite?courseId=" + courseId;
							}
						});
					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
		}

		/*]]>*/
	</script>
</body>
</html>