<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header(checkbox=true, chart=true, datepicker=true)" />
<body class="sbf fixed-sidebar">
    <div id="wrapper">
    	<nav th:replace="fragments/navbar :: navbar-aside(page='progress')" />
        <div id="page-wrapper">
        	<div class="row border-bottom">
        		<nav th:replace="fragments/navbar :: navbar-header" />
        	</div>
        	
	        <div class="wrapper wrapper-content">
	        	<div class="row sbf-row" >
	        		<h1 id="header" class="col-sm-12" style="font-weight: bold; margin-left: 30px;">Fremskridt
						<a th:replace="fragments/help :: help (title='Fremskridt', content='I Tovholdermappen findes oplysning om, hvornår og hvordan spørgsmålet kan formuleres.')" />
					</h1>
	        	</div>
				<div class="row">
					<div class="tabs-container col-sm-7">
                        <ul class="nav nav-tabs" role="tablist">
                            <li th:each="party : ${parties}"><a class="nav-link" data-toggle="tab" th:href="'#tab-' + ${party.id}" th:attr="data-id=${party.id}" th:text="${party.firstName}"></a></li>
                        </ul>
                        <div class="tab-content">
                            <div  th:each="party : ${parties}" role="tabpanel" th:id="'tab-' + ${party.id}" th:attr="data-id=${party.id}" class="tab-pane">
                                <div class="panel-body sbf-tab">
									<div th:id="'progressTabFragment' + ${party.id}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<br><br>
				<div class="row col-sm-12">
					<div class="ibox ibox-sbf" >
						<div class="ibox-title ibox-title-sbf-no-collapse sbf-textarea-backround">
							<div class="sbf-panel-row">
								<h2 style="font-weight: bold;">Overblik over borgerforløbets fremskidt <a th:replace="fragments/help :: help (title='Overblik over borgerforløbets fremskidt', content='Borgers vurdering af indsatsen i forhold til overordnet mål om trivsel og deltagelse i fællesskaber samt uddannelse og job')" /></h2>
						    </div>
						</div>
						             
						<div class="ibox-content ibox-content-sbf-no-collapse sbf-textarea-backround">
							<div class="row">
								<label class="sbf col-sm-3">Fra</label>
								<label class="sbf col-sm-3">Til</label>
							</div>
							<div class="row">
								<div class="form-group col-sm-3">
						    		<div class="input-group-btn">
						      			<div class="input-group-prepend">
						        			<input id="from" class="sbf-date date sbf-addon-border-radius" autocomplete="off" style="height: 35px !important;"/>
						        			<span class="input-group-text sbf input-group-addon" style="height: 35px !important;" id="progressFromDateImg"><img src="/img/calendar.png"></span>
						      			</div>
						    		</div> 
						  		</div>
						  		<div class="form-group col-sm-3">
						    		<div class="input-group-btn">
						      			<div class="input-group-prepend">
						        			<input id="to" class="sbf-date date sbf-addon-border-radius" autocomplete="off" style="height: 35px !important;"/>
						        			<span class="input-group-text sbf input-group-addon" style="height: 35px !important;" id="progressToDateImg"><img src="/img/calendar.png"></span>
						      			</div>
						    		</div> 
						  		</div>
							</div>
							<br> <br>
							<div class="sbf-chart-background">
								<div id="chart"></div>
							</div>
						</div>
					</div>
	       		</div>
        	</div>
    	</div>
    </div>
    
    <div th:replace="fragments/footer :: scripts(checkbox=true, chart=true, datepicker=true)" />
    <div th:replace="course/fragments/progress_tab_fragment :: progressTabScript" />
    <script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var progressUrl = [[@{/progress}]];
		    var progressRestUrl = [[@{/rest/progress}]];
			var firstPartyId = [[${firstPartyId}]];
			var courseId = [[${courseId}]];
			var startDate = [[${startDate}]];
			var lessThanAYearAgo = [[${lessThanAYearAgo}]];
		+]*/
		
		var progressService, chartService;
		var partyProgressMap = null;
		var partyScoredByProfessionalMap = null;
		var token = $("meta[name='_csrf']").attr("content");
		$(document).ready(function() {
			progressService = new ProgressService();
			chartService = new ChartService();
			
			progressService.initTabs();
			chartService.initChart();
			
			
			
		});
		
		function ProgressService() {
			this.initTabs = function() {
				//Setting the active tab
				$('.nav-link').each(function() {
					  if ($(this).data("id") == firstPartyId) {
						  $(this).addClass("active");
					  }
				});
				
				$('.tab-pane').each(function() {
					var id = $(this).data("id");
					var url = progressUrl + "/fragments/progresstab?partyId=" + id;
				    if (id == firstPartyId) {
				  		$(this).addClass("active");
				  		$("#progressTabFragment" + id).load(url, function(){
							progressTabFragmentService.init(id);
				  		});
				    }
				});
				
				//adding tab listener
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					var id = $(e.target).data("id");
					var url = progressUrl + "/fragments/progresstab?partyId=" + id;
						
					$("#progressTabFragment" + id).load(url, function(){
						progressTabFragmentService.init(id);
					});
				});
			}
			
		}
		
		function ChartService() {
			this.initChart = function() {
				$('#from').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd-mm-yyyy",
					orientation: "bottom",
					language: "da"
				});
				$("#progressFromDateImg").on("click",function() {
					$('#from').trigger("focus");
				});

				
				$('#to').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd-mm-yyyy",
					orientation: "bottom",
					language: "da"
				});
				$("#progressToDateImg").on("click",function() {
					$('#to').trigger("focus");
				});

			
				$('#from').datepicker().on('changeDate', function (ev) {
					chartService.fetchdata();
				});
				
				$('#to').datepicker().on('changeDate', function (ev) {
					chartService.fetchdata();
				});
			
				var today = new Date().toISOString().split("T")[0];
				var todayString = today.split("-")[2] + "-" + today.split("-")[1] + "-" + today.split("-")[0]
				$('#to').val(todayString);
				
				if (lessThanAYearAgo) {
					var startDateSplit = new Date(startDate).toISOString().split("T")[0];
					var startDateSplitString = startDateSplit.split("-")[2] + "-" + startDateSplit.split("-")[1] + "-" + startDateSplit.split("-")[0]
					$('#from').val(startDateSplitString);
					
				} else {
					var oneYearBeforeNow = new Date();
					oneYearBeforeNow.setFullYear(oneYearBeforeNow.getFullYear() - 1);
					var oneYearBeforeNowSplit = oneYearBeforeNow.toISOString().split("T")[0];
					var oneYearBeforeNowSplitString = oneYearBeforeNowSplit.split("-")[2] + "-" + oneYearBeforeNowSplit.split("-")[1] + "-" + oneYearBeforeNowSplit.split("-")[0]
					$('#from').val(oneYearBeforeNowSplitString);
				}
				
				
				chartService.fetchdata();
				
			}
			
			this.fetchdata = function() {
				var url = progressRestUrl + "/fetchchartdata/" + courseId + "?to=" + $('#to').val();
				if ($('#from').val() != null & $('#from').val() != "") {
					url = url + "&from=" + $('#from').val();
				}
				
				$.ajax({
					url : url,
					type : 'get',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						chartService.formatData(response);
					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
			
			this.formatData = function(response) {
				var xsJson = {xs: {}};
				var columns = [];
				var tempPartyProgressMap = new Map();
				var tempPartyScoredByProfessionalMap = new Map();

				for (var i = 0; i < response.parties.length; i++) {
				    var xsObjName = response.parties[i].name;
				    var xsObjValue =  response.parties[i].xidentifier;
				    xsJson.xs[xsObjName] = xsObjValue;
				    
				    var dateArr = [];
				    var scoreArr = [];
				    var tempProgressMap = new Map();
				    var scoredByProfessionalMap = new Map();

				    dateArr.push(response.parties[i].xidentifier);
				    scoreArr.push(response.parties[i].name);

				    if (response.parties[i].progresses != null) {
				    	for (var j = 0; j < response.parties[i].progresses.length; j++) {
					    	dateArr.push(response.parties[i].progresses[j].dateString);
					    	scoreArr.push(response.parties[i].progresses[j].score);
					    	tempProgressMap.set(response.parties[i].progresses[j].dateString, response.parties[i].progresses[j].comment);
					    	scoredByProfessionalMap.set(response.parties[i].progresses[j].dateString, response.parties[i].progresses[j].scoredByProfessional);
					    }
				    }
				    
				    columns.push(dateArr);
				    columns.push(scoreArr);
				    tempPartyProgressMap.set(xsObjName, tempProgressMap);
				    tempPartyScoredByProfessionalMap.set(xsObjName, scoredByProfessionalMap);
				}
				
				partyProgressMap = tempPartyProgressMap;
				partyScoredByProfessionalMap = tempPartyScoredByProfessionalMap;

				chartService.buildChart(response.allProgressDates, response.meetingDates, xsJson.xs, columns);
			}
			
			this.buildChart = function(allProgressDates, lines, xs, columns) {
				var chart = c3.generate({
				    size: {
				        height: 700,
				        width: 1400
				    },
				    data: {
				        xs: xs,
				        columns: columns,
						empty: {
						  label: {
							text: "Ingen målinger i den valgte periode"
						  }
						},
				        onclick: function () { 
				        },
				        type:'spline'
				    },
				    axis: {
						y: {
							max: 10,
							min: 1,
							show: allProgressDates.length != 0
						},
				        x: {
				            type: 'timeseries',
				            tick: {
				            	rotate: 90,
				                values: allProgressDates,
				                format: '%d-%m-%Y'
				            }
				        }
				    },
				    grid: {
				        x: {
				    		lines: lines
				    	},
				    	y: {
			    	      lines: [
			    	        {value: 1},
			    	        {value: 2},
			    	        {value: 3},
			    	        {value: 4},
			    	        {value: 5},
			    	        {value: 6},
			    	        {value: 7},
			    	        {value: 8},
			    	        {value: 9},
			    	        {value: 10}
			    	      ],
			    	    }
				    },
				    tooltip: {
				        format: {
				          /*...*/
				        },
				        contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
				            var $$ = this, config = $$.config,
				                titleFormat = config.tooltip_format_title || defaultTitleFormat,
				                nameFormat = config.tooltip_format_name || function (name) { return name; },
				                valueFormat = config.tooltip_format_value || defaultValueFormat,
				                text, i, title, value, name, bgcolor;
				            for (i = 0; i < d.length; i++) {
				                if (! (d[i] && (d[i].value || d[i].value === 0))) { continue; }
								
				                
				                if (! text) {
				                    title = titleFormat ? titleFormat(d[i].x) : d[i].x;
				                    text = "<table class='" + $$.CLASS.tooltip + "'>" + (title || title === 0 ? "<tr style='border: none !important;'><th colspan='2'>" + title + "</th></tr>" : "");
				                }

				                name = nameFormat(d[i].name);
				                value = valueFormat(d[i].value, d[i].ratio, d[i].id, d[i].index);
				                bgcolor = $$.levelColor ? $$.levelColor(d[i].value) : color(d[i].id);
				                
				                var titleDateSplit = title.split("-")
				                var msg = partyProgressMap.get(name).get(titleDateSplit[2] + "-" + titleDateSplit[1] + "-" + titleDateSplit[0]);
				                var scoredByProfessional = partyScoredByProfessionalMap.get(name).get(titleDateSplit[2] + "-" + titleDateSplit[1] + "-" + titleDateSplit[0]);

				                text += "<tr style='border: none !important; font-weight: bold; !important'>";
				                text += "<td class='name' style='width: 250px !important; border: none !important; color:" + bgcolor +" !important;'><span style='background-color:" + bgcolor + "'></span>" + name + "</td>";
				                text += "<td style='color: #91A6CE !important; border: none !important; text-align: left !important' class='value'> Score: " + value + "</td>";
				                text += "</tr>";
				                if( scoredByProfessional )
				                {
									text += "<tr style='border: none !important;'>";
									text += "<td colspan='2' style='border: none !important; max-width: 663px;'><i class='fa fa-exclamation-triangle text-warning' aria-hidden='true'></i> Faglig vurdering</td>";
									text += "</tr>";
				                }
				                text += "<tr style='border: none !important;'>";
				                text += "<td colspan='2' style='border: none !important; max-width: 663px;'>" + msg + "</td>";
				                text += "</tr>";
				            }
				            return text + "</table>";
				        }
				    }        
				});
			}
			
		}

		/*]]>*/
	</script>x 
</body>
</html>