<th:block th:fragment="addEditPartyModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modalAddParty" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 id="modalPartyHeader" style="font-weight: bold">Tilknyt part</h2>
			        
			        <button id="removePartyBtn" style="margin-top: 10px" class="btn sbf-full-red padding" onclick="modalPartyService.deleteParty()">Slet part</button>
			    </div>
				<div class="modal-body sbf-modal-body">
					<input id="id" type="text" class="party-modal-input" hidden>
					<div class="row">
						<div class="col-lg-6" style="padding-left: 0px;">
							<h3 style="font-weight: bold">CPR</h3>
	    					<input id="cpr" type="text" name="cpr" class="form-control sbf col-lg-12 party-modal-input" onkeyup="partyFragmentService.cprLookup()" tabindex="1">
	    					&nbsp &nbsp
							<div class="belongsToActiveCourse" style="color: red; font-size: medium;" hidden>
								<em class="fa fa-exclamation-triangle"></em> &nbsp &nbsp Denne borger tilhører et andet forløb.
							</div>
							<div class="previouslyAssociated" style="color: orange; font-size: medium;" hidden>
								<em class="fa fa-exclamation-triangle"></em> &nbsp &nbsp Denne borger har tidligere været tilknyttet dette forløb.
							</div>
							</div>
						<div class="col-lg-6" style="padding-left: 0px;">
						    <h3 style="font-weight: bold">SBSYS Sag</h3>
	    					<p id="sbsysText" hidden>Ny sag bliver oprettet, når forløbet tilføjes</p>
	    					<p id="sbsysNewText" hidden>Ny sag bliver oprettet, når parten tilføjes</p>
	    					<p class="previouslyAssociated" hidden>Da denne borger tidligere har været tilknyttet dette forløb findes der allerede en sag.</p>
	    					<a id="sbsysCaseLink" class="sbf" style="margin-top: 15px" target="_blank" th:attr="data-link=@{__${@SBFConfiguration.links.sbsysCaseLinkUrl}__}" hidden></a>
							<div class="caseCreationFailed" style="color: red; font-size: medium;" hidden>
								<em class="fa fa-exclamation-triangle"></em> &nbsp &nbsp Oprettelsen af SBSYS sag fejlede.
								<br/><br/><button onclick="partyFragmentService.recreateCase()" class="btn sbf-full">Forsøg at oprette sag igen</button>
							</div>
						</div>
					</div>
					<div class="row">
						<h3 style="font-weight: bold; padding-left:0px;" class="col-lg-6">Info</h3>
						<h3 style="font-weight: bold; padding-left:0px;" class="col-lg-6">Adresse</h3>
					</div>
					<div class="row">
						<div class="col-lg-3 label-input-row">
							<label for="name" class="sbf">Fornavn(e)</label>
    						<input id="name" type="text" name="name" class="form-control sbf party-modal-input" readonly>
    						<label for="birthday" class="sbf">Fødselsdag</label>
    						<input id="birthday" type="text" name="birthday" class="form-control sbf party-modal-input" readonly>
						</div>
						<div class="col-lg-3 label-input-row">
							<label for="surname" class="sbf">Efternavn</label>
    						<input id="surname" type="text" name="surname" class="form-control sbf party-modal-input" readonly>
    						<label for="phone" class="sbf">Telefon</label>
    						<input id="phone" type="text" name="phone" class="form-control sbf party-modal-input" tabindex="2">
						</div>
						
						<div class="col-lg-6 label-input-row">
							<div class="row">
								<label for="address" class="sbf">Adresse</label>
    							<input id="address" type="text" name="address" class="form-control sbf party-modal-input" readonly>
    						</div>
    						<div class="row">
    							<div class="col-lg-6" style="padding-left:0px;">
									<label for="city" class="sbf">By</label>
		    						<input id="city" type="text" name="city" class="form-control sbf party-modal-input" readonly>
								</div>
								<div class="col-lg-6" style="padding-right:0px;">
									<label for="postCode" class="sbf">Postnummer</label>
		    						<input id="postCode" type="text" name="postCode" class="form-control sbf party-modal-input" readonly>
								</div>
    						</div>
						</div>
						
						<div class="col-lg-6 label-input-row" style="padding-left:0px;">
							<label for="email" class="sbf">Email</label>
    						<input id="email" type="text" name="email" class="form-control sbf party-modal-input" style="width:530px;" tabindex="3">
						</div>
					</div>
					<br> <br>
					<div class="row" >
						<div class="col-lg-6">
							<div class="row">
								<h3 style="font-weight: bold; padding-left:0px;" class="col-lg-6">Samtykke <a th:replace="fragments/help :: help (title='Samtykke', content='Husk ved mundtlig samtykke at notere i borgers SBSYS-sag, at borger er oplyst om rettigheder og pligter i forbindelse med samtykket.')" /></h3>
							</div>
							<div class="row">
								<div class="col-lg-6" style="padding-left:0px;">
									<label for="consentType" class="sbf">Vælg samtykke</label>
		    						<select id="consentType" name="consentType" class="sbf form-control">
		    							<option value="NONE" selected="selected">Intet valgt</option>
		    							<option value="IN_WRITING">Skriftlig</option>
		    							<option value="ORALLY">Mundtlig</option>
		    						</select>
								</div>
								
								<div class="col-lg-6 form-group">
						    		<label for="consentDate" class="sbf">Dato</label>
						    		<div class="input-group-btn">
						      			<div class="input-group-prepend">
						        			<input id="consentDate" class="sbf-date date sbf-addon-border-radius party-modal-input" autocomplete="off" style="width:199px; height: 35px !important;"/>
						        			<span id="consentDateSpan" class="input-group-text sbf input-group-addon" style="height: 35px !important; background-color: #F1F1F1;"><img src="/img/calendar.png"></span>
						      			</div>
						    		</div> 
						  		</div> 
							</div>
							<div class="row">
								<div class="col-lg-6" style="padding-left:0px;">
									<span id="consentTypeMsg" style="color: red; font-size: medium;" hidden><em class="fa fa-exclamation-triangle"></em> &nbsp &nbsp Samtykke er ikke givet</span>
								</div>
								<div class='col-lg-6 date'>
									<a class="sbf" style="margin-top: 15px" th:href="@{__${@SBFConfiguration.links.downloadConsentForm}__}" target="_blank">Download samtykkeblanket</a>
					            </div>
							</div>
						</div>
						
						<div class="col-lg-6">
							<div class="sixteen" hidden>
								<div class="row">
									<h3 style="font-weight: bold; padding-left:0px;" class="col-lg-6 sixteen" hidden>16-års-møde
										<a th:replace="fragments/help :: help (title='16-års-møde', content='Obligatorisk møde med faste dagsordenspunkter og deltagerkreds - se Tovholdermappen')" />
									</h3>
								</div>
								<div class="row">
									<div class="col-lg-6 sixteen" style="padding-left:0px;" hidden>
										<label for="mandatoryMeetingHeld16" class="sbf">Er obligatorisk møde afholdt?</label>
			    						<span id="mandatoryMeetingHeld16" name="mandatoryMeetingHeld16" class="sbf form-control party-modal-input" style="border: none !important; border-bottom: 1px solid !important; padding-left: 0px !important; border-color: #91A6CE !important;">Møde er afholdt &nbsp &nbsp <input id="checkboxMandatoryMeeting16" type="checkbox" class="i-checks"></span>
									</div>
									<div class="form-group col-lg-6 sixteen" hidden>
							    		<label for="mandatoryMeetingDate16" class="sbf">Dato for 16-års-møde</label>
							    		<div class="input-group-btn">
							      			<div class="input-group-prepend">
							        			<input id="mandatoryMeetingDate16" class="sbf-date date sbf-addon-border-radius party-modal-input" autocomplete="off" style="width:199px; height: 35px !important;"/>
							        			<span id="mandatoryMeetingDate16Span" class="input-group-text sbf input-group-addon" style="height: 35px !important; background-color: #F1F1F1;">
							        				<img src="/img/calendar.png">
							        			</span>
							      			</div>
							    		</div> 
							  		</div> 
								</div>
								<div class="row" style="margin-top: 20px !important">
									<div class="col-lg-6 sixteen" style="padding-left:0px;">
										<span id="mandatoryMeetingMsg16" style="color: red; font-size: medium;" hidden><em class="fa fa-exclamation-triangle"></em>&nbsp &nbsp 16-års-møde ikke afholdt</span>
									</div>
								</div>
							</div>
							<br><br>
							<div class="eighteen" hidden>
								<div class="row">
									<h3 style="font-weight: bold; padding-left:0px;" class="col-lg-6 eighteen" hidden>17,5-års-møde
										<a th:replace="fragments/help :: help (title='17,5-års-møde', content='Obligatorisk møde med faste dagsordenspunkter og deltagerkreds - se Tovholdermappen')" />
									</h3>
								</div>
								<div class="row">
									<div class="col-lg-6 eighteen" style="padding-left:0px;" hidden>
										<label for="mandatoryMeetingHeld18" class="sbf">Er obligatorisk møde afholdt?</label>
			    						<span id="mandatoryMeetingHeld18" name="mandatoryMeetingHeld18" class="sbf form-control party-modal-input" style="border: none !important; border-bottom: 1px solid !important; padding-left: 0px !important; border-color: #91A6CE !important;">Møde er afholdt &nbsp &nbsp <input id="checkboxMandatoryMeeting18" type="checkbox" class="i-checks"></span>
									</div>
									<div class="form-group col-lg-6 eighteen" hidden>
							    		<label for="mandatoryMeetingDate18" class="sbf">Dato for 17,5-års-møde</label>
							    		<div class="input-group-btn">
							      			<div class="input-group-prepend">
							        			<input id="mandatoryMeetingDate18" class="sbf-date date sbf-addon-border-radius party-modal-input" autocomplete="off" style="width:199px; height: 35px !important;"/>
							        			<span id="mandatoryMeetingDate18Span" class="input-group-text sbf input-group-addon" style="height: 35px !important; background-color: #F1F1F1;">
							        				<img src="/img/calendar.png">
							        			</span>
							      			</div>
							    		</div> 
							  		</div>
								</div>
								<div class="row" style="margin-top: 20px !important">
									<div class="col-lg-6 eighteen" style="padding-left:0px;">
										<span id="mandatoryMeetingMsg18" style="color: red; font-size: medium;" hidden><em class="fa fa-exclamation-triangle"></em>&nbsp &nbsp 17,5-års-møde ikke afholdt</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br> <br>
					<div class="row right-align-button">
						<button id="partySaveBtn" class="btn sbf-full padding" onclick="modalPartyService.save();">Gem ændringer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>