<th:block th:fragment="addEditInternalModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modalAddInternal" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 id="modalInternalHeader" style="font-weight: bold">Tilknyt intern</h2>
			        
			        <button id="removeInternalBtn" style="margin-top: 10px" class="btn sbf-full-red padding" onclick="modalInternalService.deleteInternal(null)">Slet intern</button>
			    </div>
				<div class="modal-body sbf-modal-body">
					<input id="internalId" type="text" class="internal-modal-input" hidden>
					<input id="internalEmployeeUuid" type="text" class="internal-modal-input" hidden>
					<div id="internalSearchSection" hidden>
						<div class="row">
							<h3 style="font-weight: bold">Medarbejder</h3>
						</div>
						<div class="row">
							<div class="col-sm-6 label-input-row" style="padding-right: 15px !important;">
								<input type="text" class="form-control sbf internal-modal-input" id="internalSearchBox" autocomplete="off" placeholder="Søg på navn eller initialer" tabindex="1"/>
								<div id="inputAddonInternal" hidden="true">
									<span class="input-group-addon">
										<em class="fa fa-fw fa-times" onclick="$('#internalSearchBox').val(''); $('#dropdownResultInternal').removeClass('open'); $('#internalSearchBox').focus(); $('#inputAddonInternal').hide();"></em>
									</span>
								</div>
								<div id="dropdownResultInternal" class="dropdown" data-toggle="dropdown">
							  		<ul id="searchResultDropDownMenuInternal" class="dropdown-menu" style="width: 100%; padding-left: 15px; padding-right: 15px; line-height: 25px; top: -18px !important;">
							  		</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<h3 style="font-weight: bold">Info</h3>
					</div>
					<div class="row">
						<div class="col-sm-6 label-input-row" style="padding-right: 0px;">
							<div class="col-sm-12 row" style="padding-right: 0px;">
								<div class="col-sm-6" style="padding-left: 0px;">
									<label for="internalName" class="sbf">Fornavn(e)</label>
	    							<input id="internalName" type="text" name="internalName" class="form-control sbf internal-modal-input" readonly>
	    							<label for="internalPhone" class="sbf">Telefon</label>
	    							<input id="internalPhone" type="text" name="internalPhone" class="form-control sbf internal-modal-input" readonly>
								</div>
								<div class="col-sm-6" style="padding-right: 0px;">
									<label for="internalSurname" class="sbf">Efternavn</label>
	    							<input id="internalSurname" type="text" name="internalSurname" class="form-control sbf internal-modal-input" readonly>
	    							<label for="internalUsername" class="sbf">Initialer</label>
	    							<input id="internalUsername" type="text" name="internalUsername" class="form-control sbf internal-modal-input" readonly>
								</div>
								<label for="internalDepartment" class="sbf">Ansættelsessted</label>
    							<input id="internalDepartment" type="text" name="internalDepartment" class="form-control sbf internal-modal-input" readonly>
							</div>
						</div>
						<div class="col-sm-6 label-input-row" style="padding-right: 0px;">
							<div class="col-sm-12 row" style="padding-right: 0px;">
								<label for="internalEmail" class="sbf">Email</label>
    							<input id="internalEmail" type="text" name="internalEmail" class="form-control sbf internal-modal-input" readonly>
    							<label for="internalRelationship" class="sbf">Forløbsrelation <a th:replace="fragments/help :: help (title='Forløbsrelation', content='Forløbsrelation er den faglige relation til borger fx psykolog, sundhedsplejerske, tovholder, jobkonsulent etc. En beskrivelse der er retvisende for borger.')" /></label>
    							<input id="internalRelationship" maxlength="255" type="text" name="internalRelationship" class="form-control sbf internal-modal-input" tabindex="2">
							</div>
						</div>
					</div>
					<br>
					<div class="row right-align-button">
						<button id="internalSaveBtn" class="btn sbf-full padding" onclick="modalInternalService.save();">Gem ændringer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="addEditInternalModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
			var page = [[${page}]];
			var courseIdFromInvitePage = [[${courseId}]];
		+]*/
		
		var modalInternalService, searchService;
		$(document).ready(function() {
			modalInternalService = new ModalInternalService();
			searchService = new SearchService();
		});
		
		function ModalInternalService() {
			
			this.openModal = function(edit, internal) {
				//clearing 
				$(".internal-modal-input").val("");
				$("#searchResultDropDownMenuInternal").empty();
				$("#searchResultDropDownMenuInternal").removeClass("show");
				//setting up
				if (edit) {
					var primaryId = $("#primaryInternalId").val();
					if ($(internal).data("id") == primaryId) {
						$("#removeInternalBtn").addClass("disabled");
					} else {
						$("#removeInternalBtn").removeClass("disabled");
					}
					
					$("#modalInternalHeader").text("Rediger intern");
					$("#modalAddInternal").modal("show");
					$('#internalSaveBtn').removeAttr('onclick');
					$('#internalSaveBtn').attr('onClick', 'modalInternalService.saveEdit()');
					$('#internalSearchSection').attr('hidden', true);
					
					$('#internalId').val($(internal).data("id"));
					$('#internalName').val($(internal).data("name"));
					$('#internalSurname').val($(internal).data("surname"));
					$('#internalPhone').val($(internal).data("phone"));
					$('#internalEmail').val($(internal).data("email"));
					$('#internalRelationship').val($(internal).data("relationship"));
					$('#internalDepartment').val($(internal).data("department"));
					$('#internalUsername').val($(internal).data("username"));
					$("#removeInternalBtn").attr('hidden', false);
				} else {
					$("#modalInternalHeader").text("Tilknyt intern");
					$("#modalAddInternal").modal("show");
					$('#internalSaveBtn').removeAttr('onclick');
					$('#internalSaveBtn').attr('onClick', 'modalInternalService.save()');
					$("#removeInternalBtn").attr('hidden', true);
					$('#internalSearchSection').attr('hidden', false);
				}
				
				searchService.init();
			}
			
			this.closeModal = function() {
				$("#modalAddInternal").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			this.save = function() {
				if($("#internalRelationship").val() == "") {
					toastr.warning("Den interne kan ikke gemmes, da der skal angives en rolle");
					return;
				}
				
				var url = "";
				if (page == "meetinginvite" || page == "meetingsummary") {
					url = baseUrl + "rest/course/addinternal?courseId=" + courseIdFromInvitePage;
				} else {
					if (globalCourseId != null) {
						url = baseUrl + "rest/course/addinternal?courseId=" + globalCourseId;
					} else {
						url = baseUrl + "rest/course/addinternal";
					}
				}
				
				$.ajax({
					url : url,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					data : JSON.stringify({
						employeeUuid: $("#internalEmployeeUuid").val(),
						relationship: $("#internalRelationship").val()
					}),
					success : function(response) {
						if (page == "meetinginvite") {
							window.location.href = baseUrl + "invite?courseId=" + courseIdFromInvitePage;
						} else if (page == "meetingsummary") {
							window.location.href = baseUrl + "summary?courseId=" + courseIdFromInvitePage;
						} else {
							defaultService.afterModalSave(response);
						}
						
						modalInternalService.closeModal();
					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
			
			this.saveEdit = function() {
				if($("#internalRelationship").val() == "") {
					toastr.warning("Den interne kan ikke gemmes, da der skal angives en rolle");
					return;
				}
				
				var url = baseUrl + "rest/course/editinternal?courseId=";
				
				if (page == "meetinginvite" || page == "meetingsummary") {
					url = url + courseIdFromInvitePage;
				} else {
					url = url + globalCourseId;
				}
				
				$.ajax({
					url : url,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					data : JSON.stringify({
						id: $("#internalId").val(),
						relationship: $("#internalRelationship").val()
					}),
					success : function(response) {
						if (page == "meetinginvite") {
							window.location.href = baseUrl + "invite?courseId=" + courseIdFromInvitePage;
						} else if (page == "meetingsummary") {
							window.location.href = baseUrl + "summary?courseId=" + courseIdFromInvitePage;
						} else {
							fragmentService.loadInternal();
						}
						modalInternalService.closeModal();
					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
			
			this.deleteInternal = function(id) {
				if ($("#removeInternalBtn").hasClass("disabled")) {
					toastr.warning("Den interne, du forsøger at slette, er tovholder, og kan derfor ikke slettes. Vælg en anden tovholder først.");
				} else {
					if (id == null) {
						id = $("#internalId").val();
					}
					if (id != null) {
						swal({
							html: true,
							title : "Slet intern",
							text : "Er du sikker?",
							showCancelButton : true,
							confirmButtonColor : "#4765a0",
							confirmButtonText : "Slet",
							cancelButtonText : "Annuller",
							closeOnConfirm : true,
							closeOnCancel : true
						},
						function (confirm) {
							if (confirm) {
								$.ajax({
									url : baseUrl + 'rest/course/deleteinternal/' + id,
									type : 'post',
									contentType: 'application/json',
									headers: {
										'X-CSRF-TOKEN': token
									},
									success : function(response) {
										if (page == "meetinginvite") {
											window.location.href = baseUrl + "invite?courseId=" + courseIdFromInvitePage;
										} else if (page == "meetingsummary") {
											window.location.href = baseUrl + "summary?courseId=" + courseIdFromInvitePage;
										} else {
											fragmentService.loadInternal();
										}
										
										modalInternalService.closeModal();
									},
									error: function(jqXHR, textStatus, error) {
										toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
									}
								});
							}
						});
					}
				}
			}
		}
		
		function SearchService() {
			this.init = function() {
				$('#internalSearchBox').on('input', function() {
					searchService.executeQuery();
				});
			}
			
			this.executeQuery = function() {
				$('#inputAddonInternal').show();
				var value = $('#internalSearchBox').val();
				if (value.length >= 2) {					
					var query = baseUrl + "rest/course/searchinternal?query=" + $('#internalSearchBox').val();
					$.ajax({
						url: query,
						method: "get",
						success: function(response) {
							if (response == null || response.length < 1) {
								searchService.updateDropdown(null);
							}
							
							var resultSet = [];

							for (var j = 0; j < response.length; j++) {

								var hit = { firstName: response[j].firstName, surname: response[j].surname, username: response[j].username, uuid: response[j].uuid, email: response[j].email, phone: response[j].phone, department: response[j].department };

								resultSet.push(hit);
							}
							
							searchService.updateDropdown(resultSet);
						}
					});
				}
				else {
					searchService.updateDropdown(null);
				}
			}
			
			this.updateDropdown = function (resultSet) {
				if (resultSet && resultSet.length > 0) {
					$("#searchResultDropDownMenuInternal").empty();
					
					for (var i = 0; i < resultSet.length; i++) {
						
						var guiValue = resultSet[i].firstName + " " + resultSet[i].surname + " (" +  resultSet[i].username + ")";
						var uuid = resultSet[i].uuid;
						var name = resultSet[i].firstName.replace("'","\\'");
						var surname = resultSet[i].surname.replace("'","\\'");
						var email = resultSet[i].email;
						var phone = resultSet[i].phone;
						var department = resultSet[i].department.replace("'","\\'");
						var username = resultSet[i].username;
						$("#searchResultDropDownMenuInternal").append("<a href='#' style='color: black;' onclick=\"searchService.select('" + uuid + "','"+ name +"','"+ surname +"','"+email +"','"+ phone +"','"+ department +"','"+ username +"')\"><li>" + guiValue + "</li></a>");
					}
					
					$("#searchResultDropDownMenuInternal").addClass("show");
				}
				else {
					$("#searchResultDropDownMenuInternal").removeClass("show");
				}
			}
			
			this.select = function(uuid, name, surname, email, phone, department, initials) {
				$("#internalEmployeeUuid").val(uuid);
				$("#internalName").val(name);
				$("#internalSurname").val(surname);
				$("#internalEmail").val(email);
				$("#internalPhone").val(phone);
				$("#internalDepartment").val(department);
				$("#internalUsername").val(initials);
				
				window.setTimeout(function(){
					searchService.updateDropdown(null);
				}, 100);
				
			}
		}

		/*]]>*/
	</script>
</th:block>