<th:block th:fragment="addGoalModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modalAddGoal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 style="font-weight: bold">Opret mål</h2>
			    </div>
				<div class="modal-body sbf-modal-body">
					<input id="addGoalMeetingPartyId" hidden>
					<div class="row label-input-row">
						<label for="title" class="sbf">Kategori</label>
   						<input id="title" maxlength="255" type="text" class="form-control sbf">
   						<label for="objective" class="sbf">Mål - Ønsket tilstand</label>
   						<input id="objective" maxlength="255" type="text" class="form-control sbf">
					</div>
					<br>
					<div class="row right-align-button">
						<button class="btn sbf-full-light green-text" onclick="addGoalFragmentService.closeAddGoalModal();" style="width: 130px !important; height: 42px !important;">Tilbage</button>
						&nbsp&nbsp
						<button class="btn sbf-full padding" onclick="addGoalFragmentService.save()" style="width: 130px !important; height: 42px !important;">Opret</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="addGoalModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var addGoalFragmentService;
		$(document).ready(function() {
			addGoalFragmentService = new AddGoalFragmentService();
		});
		
		function AddGoalFragmentService() {
			this.openAddGoalModal = function(id) {
				$("#modalAddGoal").modal("show");
				$("#addGoalMeetingPartyId").val(id);
				$("#title").val("");
				$("#objective").val("");
			}
			
			this.closeAddGoalModal = function() {
				$("#modalAddGoal").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			this.save = function () {
				var meetingPartyId = $("#addGoalMeetingPartyId").val();
				var title = $("#title").val();
				var objective = $("#objective").val();
				if (title == null || title == "" || objective == null || objective == "") {
					toastr.warning("Både overskrift og ønsket tilstand skal have en værdi før kategorien kan oprettes.")
				} else {
					$.ajax({
						url : baseUrl + 'rest/summary/addgoal/' + meetingPartyId + "?title=" + title + "&objective=" + objective,
						type : 'post',
						contentType: 'application/json',
						headers: {
							'X-CSRF-TOKEN': token
						},
						success : function(response) {
							addGoalFragmentService.closeAddGoalModal();
							tabService.reloadDreamTabFragment(true);
						},
						error: function(jqXHR, textStatus, error) {
							toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
						}
					});
				}
			}
			
		}

		/*]]>*/
	</script>
</th:block>