<th:block th:fragment="addEditExternalModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modalAddExternal" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 id="modalExternalHeader" style="font-weight: bold">Tilknyt ekstern</h2>
			        
			        <button id="removeExternalBtn" style="margin-top: 10px" class="btn sbf-full-red padding" onclick="modalExternalService.deleteExternal(null)">Slet ekstern</button>
			    </div>
				<div class="modal-body sbf-modal-body">
					<input id="externalId" type="text" class="external-modal-input" hidden>
					<div class="row">
						<h3 style="font-weight: bold">Info</h3>
					</div>
					<div class="row">
						<div class="col-sm-3 label-input-row">
							<label for="externalName" class="sbf">Fornavn(e)</label>
    						<input id="externalName" type="text" name="externalName" class="form-control sbf external-modal-input" placeholder="Indtast fornavn" tabindex="1">
    						<label for="externalPhone" class="sbf">Telefon</label>
    						<input id="externalPhone" type="text" name="externalPhone" class="form-control sbf external-modal-input" placeholder="Tilføj telefonnummer" tabindex="4">
						</div>
						<div class="col-sm-3 label-input-row">
							<label for="externalSurname" class="sbf">Efternavn</label>
    						<input id="externalSurname" type="text" name="externalSurname" class="form-control sbf external-modal-input" placeholder="Indtast efternavn" tabindex="2">
						</div>
						<div class="col-sm-6 label-input-row">
							<label for="externalEmail" class="sbf">Email</label>
    						<input id="externalEmail" type="text" name="externalEmail" class="form-control sbf external-modal-input" placeholder="Indtast email" tabindex="3">
    						<label for="externalRelationship" class="sbf">Forhold / Rolle</label>
    						<input id="externalRelationship" maxlength="255" type="text" name="externalRelationship" class="form-control sbf external-modal-input" placeholder="Eksternes relation til parterne" tabindex="5">
						</div>
					</div>
					<br>
					<div class="row right-align-button">
						<button id="externalSaveBtn" class="btn sbf-full padding" onclick="modalExternalService.save();">Gem ændringer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="addEditExternalModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
			var page = [[${page}]];
			var courseIdFromInvitePage = [[${courseId}]];
		+]*/
		
		var modalExternalService;
		$(document).ready(function() {
			modalExternalService = new ModalExternalService();
		});
		
		function ModalExternalService() {
			this.openModal = function(edit, external) {
				//clearing 
				$(".external-modal-input").val("");
				
				//setting up
				if (edit) {
					$("#modalExternalHeader").text("Rediger ekstern");
					$("#modalAddExternal").modal("show");
					$('#externalSaveBtn').removeAttr('onclick');
					$('#externalSaveBtn').attr('onClick', 'modalExternalService.saveEdit()');
					
					$('#externalId').val($(external).data("id"));
					$('#externalName').val($(external).data("name"));
					$('#externalSurname').val($(external).data("surname"));
					$('#externalPhone').val($(external).data("phone"));
					$('#externalEmail').val($(external).data("email"));
					$('#externalRelationship').val($(external).data("relationship"));
					$("#removeExternalBtn").attr('hidden', false);
				} else {
					$("#modalExternalHeader").text("Tilknyt ekstern");
					$("#modalAddExternal").modal("show");
					$('#externalSaveBtn').removeAttr('onclick');
					$('#externalSaveBtn').attr('onClick', 'modalExternalService.save()');
					$("#removeExternalBtn").attr('hidden', true);
				}
			}
			
			this.closeModal = function() {
				$("#modalAddExternal").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			this.save = function() {
				if ($("#externalPhone").val() != "" && !/^[\d\+() ]{8,}$/.test($("#externalPhone").val())) {
					toastr.warning("Den eksterne kan ikke gemmes, da der er angivet et ugyldigt telefonnummer");
					return;
				}
				if ($("#externalEmail").val() != "" && !/^((.+)@(.+))?$/.test($("#externalEmail").val())) {
					toastr.warning("Den eksterne kan ikke gemmes, da der er angivet en ugyldig email");
					return;
				}
				if($("#externalRelationship").val() == "") {
					toastr.warning("Den eksterne kan ikke gemmes, da der skal angives en rolle");
					return;
				}
				
				var url = "";
				
				if (page == "meetinginvite" || page == "meetingsummary") {
					url = baseUrl + "rest/course/addexternal?courseId=" + courseIdFromInvitePage;
				} else {
					if (globalCourseId != null) {
						url = baseUrl + "rest/course/addexternal?courseId=" + globalCourseId;
					} else {
						url = baseUrl + "rest/course/addexternal";
					}
				}
				
				$.ajax({
					url : url,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					data : JSON.stringify({
						name: $("#externalName").val(),
						surname: $("#externalSurname").val(),
						email: $("#externalEmail").val(),
						phone: $("#externalPhone").val(),
						relationship: $("#externalRelationship").val()
					}),
					success : function(response) {
						if (page == "meetinginvite") {
							window.location.href = baseUrl + "invite?courseId=" + courseIdFromInvitePage;
						} else if (page == "meetingsummary") {
							window.location.href = baseUrl + "summary?courseId=" + courseIdFromInvitePage;
						} else {
							defaultService.afterModalSave(response);
						} 
						
						modalExternalService.closeModal();
					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
			
			this.saveEdit = function() {
				if ($("#externalPhone").val() != "" && !/^[\d\+() ]{8,}$/.test($("#externalPhone").val())) {
					toastr.warning("Den eksterne kan ikke gemmes, da der er angivet et ugyldigt telefonnummer");
					return;
				}
				if ($("#externalEmail").val() != "" && !/^((.+)@(.+))?$/.test($("#externalEmail").val())) {
					toastr.warning("Den eksterne kan ikke gemmes, da der er angivet en ugyldig email");
					return;
				}
				if($("#externalRelationship").val() == "") {
					toastr.warning("Den eksterne kan ikke gemmes, da der skal angives en rolle");
					return;
				}
				
				
				var url = baseUrl + "rest/course/editexternal?courseId=";
				if (page == "meetinginvite" || page == "meetingsummary") {
					url = url + courseIdFromInvitePage;
				} else {
					url = url + globalCourseId;
				}
				
				$.ajax({
					url : url,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					data : JSON.stringify({
						id: $("#externalId").val(),
						name: $("#externalName").val(),
						surname: $("#externalSurname").val(),
						email: $("#externalEmail").val(),
						phone: $("#externalPhone").val(),
						relationship: $("#externalRelationship").val()
					}),
					success : function(response) {
						if (page == "meetinginvite") {
							window.location.href = baseUrl + "invite?courseId=" + courseIdFromInvitePage;
						} else if (page == "meetingsummary") {
							window.location.href = baseUrl + "summary?courseId=" + courseIdFromInvitePage;
						} else {
							fragmentService.loadExternal();
						} 
						
						modalExternalService.closeModal();
					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
			
			this.deleteExternal = function(id) {
				if (id == null) {
					id = $("#externalId").val();
				}
				if (id != null) {
					swal({
						html: true,
						title : "Slet ekstern",
						text : "Er du sikker?",
						showCancelButton : true,
						confirmButtonColor : "#4765a0",
						confirmButtonText : "Slet",
						cancelButtonText : "Annuller",
						closeOnConfirm : true,
						closeOnCancel : true
					},
					function (confirm) {
						if (confirm) {
							$.ajax({
								url : baseUrl + 'rest/course/deleteexternal/' + id,
								type : 'post',
								contentType: 'application/json',
								headers: {
									'X-CSRF-TOKEN': token
								},
								success : function(response) {
									if (page == "meetinginvite") {
										window.location.href = baseUrl + "invite?courseId=" + courseIdFromInvitePage;
									} else if (page == "meetingsummary") {
										window.location.href = baseUrl + "summary?courseId=" + courseIdFromInvitePage;
									} else {
										fragmentService.loadExternal();
									}
									
									modalExternalService.closeModal();
								},
								error: function(jqXHR, textStatus, error) {
									toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								}
							});
						}
					});
				}
			}
		}

		/*]]>*/
	</script>
</th:block>