<th:block th:fragment="dreamTab" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<input th:id="'firstGoalId' + ${meetingParty.id}" th:value="${firstGoalId}" hidden>
	<div class="row" style="margin-left: 15px !important;">
		<h2 style="font-weight: bold"><span th:text="${meetingParty.party.firstName} + '\'s drøm'"></span><a th:replace="fragments/help :: help (title='Borgers drøm', content='Her noteres borgers overordnede drøm/mål for borgerforløbet.')" /></h2>
	</div>
	<div class="row" style="margin-left: 15px !important;">
		<input th:id="'dream' + ${meetingParty.id}" maxlength="255" th:value="${meetingParty.dream}" class="sbf form-control col-lg-5" style="height: 70px !important;">	
	</div>
	<div class="row" style="margin-left: 15px !important;">
		<h2 style="font-weight: bold">Kategorier<a th:replace="fragments/help :: help (title='Kategorier', content='Sammen med borger kategoriseres de overordnede målsætninger, der skal realiseres for at nå borgers drøm/mål med borgerforløbet. ')" /></h2>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container sbf-inner-tabs-container">
            	<ul class="nav nav-tabs" role="tablist">
                	<li th:each="goal : ${goals}"><a class="nav-link sbf-inner-nav-link goal-nav-link" th:classappend="${meetingParty.id}" data-toggle="tab" th:href="'#tab-goal' + ${goal.id}" th:attr="data-id=${goal.id}" th:text="${goal.title}"></a></li>
                	<li th:onclick="'addGoalFragmentService.openAddGoalModal(' + ${meetingParty.id} + ')'"><img src="/img/addIcon.png"></li>
                </ul>
                <div class="tab-content">
                	<div  th:each="goal : ${goals}" role="tabpanel" th:id="'tab-goal' + ${goal.id}" th:attr="data-id=${goal.id}" class="tab-pane goal-tab-pane">
                    	<div class="sbf-tab-inner panel-body">
							<div th:id="'goalTabFragment' + ${goal.id}"></div>
                        </div>
                	</div>
            	</div>
        	</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="dreamTabScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var dreamTabFragmentService;
		var meetingPartyId;
		$(document).ready(function() {
			dreamTabFragmentService = new DreamTabFragmentService();
		});
		
		function DreamTabFragmentService() {
			this.init = function(id) {
				meetingPartyId = id;
				
				dreamTabFragmentService.initGoalTabs(id, $('#firstGoalId' + id).val());
				
				$('[data-toggle="popover"]').popover();
				$('.i-checks').iCheck({
					checkboxClass: 'icheckbox_square-green',
					radioClass: 'iradio_square-green',
				});
				
				//listeners
				$('#dream' + id).on('blur', function(e) {
					dreamTabFragmentService.saveDream(this.value, id)
				});
			}
			
			this.initGoalTabs = function(id, firstGoalId) {
				//Setting the active tab
				$('.goal-nav-link').each(function() {
					  if ($(this).data("id") == firstGoalId) {
						  $(this).addClass("active");
					  }
				});
				
				$('.goal-tab-pane').each(function() {
					var id = $(this).data("id");
					var url = baseUrl + "summary/fragments/goaltab?goalId=" + id;
				    if (id == firstGoalId) {
				  		$(this).addClass("active");
				  		$("#goalTabFragment" + id).load(url, function(){
				  			goalTabFragmentService.init(id);
				  		});
					}
				});
				
				//adding tab listener
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					var id = $(e.target).data("id");
					var url = baseUrl + "summary/fragments/goaltab?goalId=" + id;
						
					$("#goalTabFragment" + id).load(url, function(){
						goalTabFragmentService.init(id);
					});
				});
			}
			
			this.saveDream = function(dream, id) {
				$.ajax({
					url : baseUrl + 'rest/summary/savedream/' + id,
					type : 'post',
					data : dream,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						toastr.success("Drømmen er gemt");
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
		}
		
		

		/*]]>*/
	</script>
</th:block>