<th:block th:fragment="endGoalModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modalEndGoal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 style="font-weight: bold">Afslut mål</h2>
			    </div>
				<div class="modal-body sbf-modal-body">
					<input id="modalEndGoalGoalId" hidden>
					<div class="row">
						<h3>Vælg begrundelse</h3>
					</div>
					<div class="row">
						<select id="closeGoalReason" class="sbf form-control" style="height: 46px !important;">
							<option value="NONE" selected="selected">Intet valgt</option>
		    				<option value="ACCOMPLISHED">Mål opnået</option>
		    				<option value="NOT_ACCOMPLISHED">Ønsket progression udeblevet</option>
						</select>
					</div>
					<div class="row">
						<p>Er du sikker på at du vil afslutte målet?<br>Målet vil forsvinde fra borgerplanen, men du kan stadig tilgå informationerne i journaliseringerne i SBSYS.</p>
					</div>
					<br>
					<div class="row right-align-button">
						<button class="btn sbf-full-light green-text" onclick="endGoalFragmentService.closeEndGoalModal();" style="width: 130px !important; height: 42px !important;">Tilbage</button>
						&nbsp&nbsp
						<button class="btn sbf-full-red padding" onclick="endGoalFragmentService.saveClose()" style="width: 130px !important; height: 42px !important;">Afslut</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="endGoalModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var endGoalFragmentService;
		$(document).ready(function() {
			endGoalFragmentService = new EndGoalFragmentService();
		});
		
		function EndGoalFragmentService() {
			this.openEndGoalModal = function(id) {
				$("#modalEndGoal").modal("show");
				$("#modalEndGoalGoalId").val(id);
				$("#closeGoalReason").val('NONE');
			}
			
			this.closeEndGoalModal = function() {
				$("#modalEndGoal").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			this.saveClose = function () {
				var goalId = $("#modalEndGoalGoalId").val();
				var reason = $("#closeGoalReason").val();
				if (reason == 'NONE') {
					toastr.warning("Der skal angives en grund til at kategorien skal afsluttes.")
				} else {
					if (goalId != null || goalId != "") {
						$.ajax({
							url : baseUrl + 'rest/summary/goal/' + goalId + '/close',
							type : 'post',
							data : JSON.stringify({closedReason: reason}),
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success : function(response) {
								endGoalFragmentService.closeEndGoalModal();
								tabService.reloadDreamTabFragment();
							},
							error: function(jqXHR, textStatus, error) {
								if (jqXHR.responseText != '') {
									toastr.warning(jqXHR.responseText);
								} else {
									toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');	
								}
								endGoalFragmentService.closeEndGoalModal();
							}
						});
					}
				}
			}
			
		}

		/*]]>*/
	</script>
</th:block>