<th:block th:fragment="endSubGoalModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modalEndSubGoal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 style="font-weight: bold">Afslut tiltag</h2>
			    </div>
				<div class="modal-body sbf-modal-body">
					<input id="modalEndSubGoalSubGoalId" hidden>
					<div class="row">
						<h3>Vælg begrundelse</h3>
					</div>
					<div class="row">
						<select id="closeSubGoalReason" class="sbf form-control" style="height: 46px !important;">
							<option value="NONE" selected="selected">Intet valgt</option>
		    				<option value="ACCOMPLISHED">Fuld effekt opnået</option>
		    				<option value="NOT_ACCOMPLISHED">Ønsket progression udeblevet</option>
						</select>
					</div>
					<div class="row">
						<p>Er du sikker på at du vil afslutte tiltaget?<br>Tiltaget vil forsvinde fra handlingsplanen, men du kan stadig tilgø informationerne i journaliseringerne i SBSYS.</p>
					</div>
					<br>
					<div class="row right-align-button">
						<button class="btn sbf-full-light green-text" onclick="endSubGoalFragmentService.closeEndSubGoalModal();" style="width: 130px !important; height: 42px !important;">Tilbage</button>
						&nbsp&nbsp
						<button class="btn sbf-full-red padding" onclick="endSubGoalFragmentService.saveClose()" style="width: 130px !important; height: 42px !important;">Afslut</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="endSubGoalModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var endSubGoalFragmentService;
		$(document).ready(function() {
			endSubGoalFragmentService = new EndSubGoalFragmentService();
		});
		
		function EndSubGoalFragmentService() {
			this.openEndSubGoalModal = function(id) {
				$("#modalEndSubGoal").modal("show");
				$("#modalEndSubGoalSubGoalId").val(id);
				$("#closeSubGoalReason").val('NONE');
			}
			
			this.closeEndSubGoalModal = function() {
				$("#modalEndSubGoal").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			this.saveClose = function () {
				var subGoalId = $("#modalEndSubGoalSubGoalId").val();
				var reason = $("#closeSubGoalReason").val();
				if (reason == 'NONE') {
					toastr.warning("Der skal angives en grund til at tiltaget skal afsluttes.")
				} else {
					if (subGoalId != null || subGoalId != "") {
						$.ajax({
							url : baseUrl + 'rest/summary/subgoal/' + subGoalId + '/close',
							type : 'post',
							data : JSON.stringify({closedReason: reason}),
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success : function(response) {
								endSubGoalFragmentService.closeEndSubGoalModal();
								subGoalService.loadSubGoalsFragment(globalGoalId);
							},
							error: function(jqXHR, textStatus, error) {
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
							}
						});
					}
				}
			}
			
		}

		/*]]>*/
	</script>
</th:block>