<th:block th:fragment="courseExternal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="ibox ibox-sbf">
		<div class="ibox-title ibox-title-sbf-no-collapse sbf-textarea-backround">
			<div class="sbf-panel-row">
				<h2 style="font-weight: bold;">Eksterne <a th:replace="fragments/help :: help (title='Eksterne', content='Eksterne samarbejdsparter er de mødedeltagere som indkaldes fra fx psykiatrien, fodboldtræneren, ekstern leverandør mv. ')" /></h2>
		    </div>
		</div>
		             
		<div class="ibox-content ibox-content-sbf-no-collapse sbf-textarea-backround">
			<table class="table sbf-bottom-border" th:if="${not #lists.isEmpty(externals)}">
				<thead>
					<tr>
						<th>Navn</th>
						<th style="text-align: right !important;">Handlinger</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="external : ${externals}">
						<td th:attr="data-id=${external.id},data-name=${external.firstName},data-surname=${external.surname},data-phone=${external.phone},data-email=${external.email},data-relationship=${external.relationship}" onclick="modalExternalService.openModal(true, this)"><span th:text="${external.firstName + ' ' + external.surname + ' (' + external.relationship + ')'}" class="table-text"></span>&nbsp &nbsp<em class="fa fa-edit sbf table-text"></em></td>
						<td style="text-align: right !important;">
							<em class="fa fa-times sbf" title="Slet" th:onclick="'modalExternalService.deleteExternal('+${external.id}+');'"></em>
						</td>
					</tr>
				</tbody>
			</table>
		
			<button class="btn sbf-full-light" onclick="modalExternalService.openModal(false, null)" style="width: 150px; height: 42px;">Tilknyt ekstern</button>
		</div>
	</div>
</th:block>

<th:block th:fragment="courseExternalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var externalFragmentService;
		$(document).ready(function() {
			externalFragmentService = new ExternalFragmentService();
		});
		
		function ExternalFragmentService() {
			this.init = function() {
				$('[data-toggle="popover"]').popover();
			}
		}
		
		/*]]>*/
	</script>
</th:block>