<th:block th:fragment="generalInformation" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class='date col-sm-6'>
		   <label for="courseStartDate" class="sbf">Opstartsdato <a th:replace="fragments/help :: help (title='Opstartsdato', content='Udfyldes automatisk: Opstartsdatoen er den dato, som det første tværfaglige teammøde afholdes på. ')" /></label>
		   <input class="form-control sbf-date date sbf-white-date readonly-white" th:attr="data-start=${firstMeetingDate}" id="courseStartDate" style="padding-left: 15px !important;background-color: white !important;" autocomplete="off" readonly/>
		</div>
		<div class="col-sm-6" >
			<label for="courseActive" class="sbf">Status</label>
			<select id="courseActive" name="courseActive" class="sbf form-control white" onchange="generalFragmentService.onSelect();" >
				<option value="true" th:selected="${active == true}">Igang</option>
				<option value="false" th:selected="${active == false}">Afsluttet</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class='date col-sm-6'>
			<label for="primaryContact" class="sbf">Tovholder</label>
			<input class="form-control sbf-date date sbf-white-date readonly-white" th:value="${primaryContactName}" id="primaryContact" style="padding-left: 15px !important;background-color: white !important;" autocomplete="off" readonly/>
		</div>
	</div>
	<div class="row">
		<button th:if="${draft}" onclick="generalFragmentService.activate(this);" class="btn sbf-full btn-block" style="margin: 15px !important;" th:classappend="${disableCreateBtn ? 'disabled' : ''}">Tilføj forløb</button>
	</div>

</th:block>

<th:block th:fragment="courseGeneralInformationScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var generalFragmentService;
		$(document).ready(function() {
			generalFragmentService = new GeneralFragmentService();
		});
		
		
		function GeneralFragmentService() {
			this.init = function() {
				$('#courseStartDate').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd/mm/yyyy",
					orientation: "bottom",
					enableOnReadonly: false,
					language: "da"
				});
				
				var start = $('#courseStartDate').data("start");
				if (start != null) {
					var date = new Date(start);
					$('#courseStartDate').datepicker('update', date);
				}

				$('[data-toggle="popover"]').popover();
			}
			
			this.activate = function(btn) {
				if ($(btn).hasClass("disabled")) {
					toastr.warning("Forløbet kan først oprettes, når der er tilføjet minimum en part og en tovholder");
				} else {
					loading();
					$.ajax({
						url : baseUrl + 'rest/course/activate/' + globalCourseId,
						type : 'post',
						contentType: 'application/json',
						headers: {
							'X-CSRF-TOKEN': token
						},
						success : function(response) {
							if( response == "" ) {
								window.location.href="/course?courseId=" + globalCourseId;
							}
							else{
								toastr.options.onHidden = function(){
									window.location.href="/course?courseId=" + globalCourseId;
								};
								toastr.warning('<span style="font-size: 14px">Forløb tilføjet med fejl</span><br/><br/><span style="font-size: 13px">' + response + '</span>');
							}
						},
						error: function(jqXHR, textStatus, error) {
							stopLoading();
							toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
						}
					});
				}
			}
			
			this.onSelect = function() {
				if (globalCourseId != null) {
					var val = $( "#courseActive" ).val();
					if (val == "false") {
						swal({
							html: true,
							title : "Er du sikker på du vil afslutte forløbet?",
							text : "Angiv en begrundelse for afslutning<br /> Bemærk at partens/parternes tilknyttede sager i SBSYS afsluttes med den angivne årsag.",
							type : "input",
							showCancelButton : true,
							confirmButtonColor : "#4765a0",
							confirmButtonText : "Afslut",
							cancelButtonText : "Annuller",
							closeOnConfirm : false,
							closeOnCancel : true
						},
						function (reason) {
							if (reason === false) {
								; // cancelled window
							}
							else {
								if (!reason) {
								    swal.showInputError("Angiv en årsag for afslutningen");
								    return false;
								}
								else {
									loading();
									$.ajax({
										url : baseUrl + 'rest/course/active/'+globalCourseId+'?active=false&reason='+ reason,
										type : 'post',
										contentType: 'application/json',
										headers: {
											'X-CSRF-TOKEN': token
										},
										success : function(response) {
											stopLoading();
											swal.close();
											toastr.success("Opdateret!")
										},
										error: function(jqXHR, textStatus, error) {
											stopLoading();
											if (jqXHR.responseText != '') {
												toastr.warning(jqXHR.responseText);
											} else {
												toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');	
											}
										}
									});
								}
							}
						});
					} else {
						loading();
						$.ajax({
							url : baseUrl + 'rest/course/active/'+globalCourseId+'?active='+ val,
							type : 'post',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success : function(response) {
								stopLoading();
								toastr.success("Opdateret!")
							},
							error: function(jqXHR, textStatus, error) {
								stopLoading();
								switch (jqXHR.status) {
									case 400:
										toastr.warning(jqXHR.responseText);
										break;
									default:
										toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
										break;
								}
							}
						});
					}
				} else {
					toastr.warning("Status kan ikke ændres før der er tilføjet minimun en part, intern eller ekstern");
				}
				
			}
		}

		/*]]>*/
	</script>
</th:block>