<th:block th:fragment="goalTab" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-lg-10">
			<label class="sbf">Mål - Ønsket tilstand</label>
			<input class="sbf sbf-white form-control goal-objective" maxlength="255" th:attr="data-id=${goal.id}" th:value="${goal.objective}" style="font-size: 30px; margin-bottom: 0px !important; padding-left: 0px !important;"></span>
		</div>
		<div class="col-lg-2 right-align-button">
			<button class="btn sbf-full-light green-text" style="width: 198px !important; height: 42px !important;" th:onclick="'endGoalFragmentService.openEndGoalModal(' + ${goal.id} + ')'">Afslut mål</button>
		</div>
	</div>
	
	<div class="row col-sm-12" th:id="'subGoalsPlaceHolder' + ${goal.id}" style="padding-left: 0px; padding-right: 0px;">
	</div>
</th:block>

<th:block th:fragment="goalTabScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var goalTabFragmentService, subGoalService;
		$(document).ready(function() {
			goalTabFragmentService = new GoalTabFragmentService();
			subGoalService = new SubGoalService();
		});
		
		function GoalTabFragmentService() {
			this.init = function(id) {
				
				subGoalService.init(id);
				
				$('[data-toggle="popover"]').popover();
				$('.i-checks').iCheck({
					checkboxClass: 'icheckbox_square-green',
					radioClass: 'iradio_square-green',
				});
				
				$(".goal-objective").on('blur', function(e) {
					goalTabFragmentService.saveObjective(this.value, $(this).data("id"))
				});
			}
			
			this.saveObjective = function (objective, id) {
				$.ajax({
					url : baseUrl + 'rest/summary/goal/' + id + '/saveobjective',
					type : 'post',
					data : objective,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						toastr.success("Den ønskede tilstand er gemt");
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
		}
		
		function SubGoalService() {
			this.init = function (id) {
				subGoalService.loadSubGoalsFragment(id)
			}
			
			this.loadSubGoalsFragment = function (id) {
				$("#subGoalsPlaceHolder" + id).load(baseUrl + "summary/fragments/subgoals?goalId=" + id, function(){
					subGoalsFragmentService.init(id);
				});
			}
		}

		/*]]>*/
	</script>
</th:block>