<th:block th:fragment="courseInternal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="ibox ibox-sbf">
		<div class="ibox-title ibox-title-sbf-no-collapse sbf-textarea-backround">
			<div class="sbf-panel-row">
				<h2 style="font-weight: bold;">Interne <a th:replace="fragments/help :: help (title='Interne', content='Interne mødedeltagere fra Ballerup kommune som indkaldes til deltagelse i de tværfaglige teammøder (medarbejdere med en balk-mail).')" /></h2>
		    </div>
		</div>
		             
		<div class="ibox-content ibox-content-sbf-no-collapse sbf-textarea-backround">
			<input id="primaryInternalId" th:value="${primaryId}" hidden>
			<table class="table sbf-bottom-border" th:if="${not #lists.isEmpty(internals)}">
				<thead>
					<tr>
						<th>Navn</th>
						<th style="text-align: right !important;">Tovholder</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="internal, iStat : ${internals}">
						<td th:attr="data-id=${internal.id},data-name=${internal.employee.firstName},data-surname=${internal.employee.surname},data-phone=${internal.employee.phone},data-email=${internal.employee.email},data-relationship=${internal.relationship},data-department=${internal.employee.department}, data-username=${internal.employee.username}" onclick="modalInternalService.openModal(true, this)"><span th:text="${internal.employee.firstName + ' ' + internal.employee.surname + ' (' + internal.relationship + ')'}" class="table-text"></span>&nbsp &nbsp<em class="fa fa-edit sbf table-text"></em></td>
						<td style="text-align: right !important;">
							<input th:attr="data-id=${internal.id}" th:disabled="${iStat.index == 0}" type="checkbox" class="i-checks primary-internal">
						</td>
					</tr>
				</tbody>
			</table>
		
			<button class="btn sbf-full-light" onclick="modalInternalService.openModal(false, null)" style="width: 150px; height: 42px;">Tilknyt intern</button>
		</div>
	</div>
</th:block>

<th:block th:fragment="courseInternalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var internalFragmentService;
		$(document).ready(function() {
			internalFragmentService = new InternalFragmentService();
		});
		
		function InternalFragmentService() {
			this.init = function() {
				var primaryId = $("#primaryInternalId").val();
				if (primaryId != '') {
					$('.primary-internal').each(function() {
						  if ($(this).data("id") == primaryId) {
							  $(this).iCheck('check');
						  }
					});
				}
				
				$('.i-checks').iCheck({
					checkboxClass: 'icheckbox_square-green',
					radioClass: 'iradio_square-green',
				});
				
				$('.primary-internal').on('ifChecked', function(event){
					loading();
					var url = baseUrl + "rest/course/primaryInternal/" + $(this).data("id") + "?courseId=" + globalCourseId;
					$.ajax({
						url : url,
						type : 'post',
						contentType: 'application/json',
						headers: {
							'X-CSRF-TOKEN': token
						},
						success : function(response) {
							stopLoading();
							for (name of response) {
								toastr.warning("Sagen tilhørende parten " + name + " blev ikke opdateret")
							}
							fragmentService.loadInternal();
							fragmentService.loadGeneralInformation();
						},
						error: function(jqXHR, textStatus, error) {
							stopLoading();
							switch (jqXHR.status) {
								case 400:
									toastr.warning(jqXHR.responseText);
									break;
								default:
									toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
									break;
							}
						}
					});
				});
				
				$('[data-toggle="popover"]').popover();
			}
		}

		/*]]>*/
	</script>
</th:block>