<th:block th:fragment="inviteAttendPartyTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table class="table sbf-bottom-border" style="margin-bottom: 20px !important;">
		<thead>
			<tr>
				<th>Parter:</th>
				<th th:if="${purpose == 'invite'}" style="text-align: right !important;"></th>
				<th th:if="${purpose == 'attend'}" style="text-align: right !important;">Tilstedeværende</th>
				<th th:if="${purpose == 'send'}" style="text-align: right !important;">Send til</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="meetingParty : ${parties}">
				<td><span th:text="${meetingParty.party.firstName + ' ' + meetingParty.party.surname + ' (' + meetingParty.party.cpr + ')'}" class="table-text"></span>&nbsp &nbsp</td>
				<td style="text-align: right !important;">
					<input th:if="${purpose == 'invite'}" th:attr="data-id=${meetingParty.id}" type="checkbox" class="i-checks party-checkbox" th:checked="${meetingParty.invited}">
					<input th:if="${purpose == 'attend'}" th:attr="data-id=${meetingParty.id}" type="checkbox" class="i-checks party-checkbox" th:checked="${meetingParty.attended}">
					<input th:if="${purpose == 'send'}" th:attr="data-id=${meetingParty.id}" type="checkbox" class="i-checks party-checkbox" th:checked="${meetingParty.receiveMeetingRecord}">
				</td>
			</tr>
		</tbody>
	</table>
</th:block>

<th:block th:fragment="inviteAttendPartyRepresentativeTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table th:if="${not #lists.isEmpty(partyRepresentatives)}" class="table sbf-bottom-border" style="margin-bottom: 20px !important;">
		<thead>
			<tr>
				<th>Partsrepræsentanter:</th>
				<th th:if="${purpose == 'invite'}" style="text-align: right !important;"></th>
				<th th:if="${purpose == 'attend'}" style="text-align: right !important;">Tilstedeværende</th>
				<th th:if="${purpose == 'send'}" style="text-align: right !important;">Send til</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="meetingPartyRepresentative : ${partyRepresentatives}">
				<td><span th:text="${meetingPartyRepresentative.partyRepresentative.firstName + ' ' + meetingPartyRepresentative.partyRepresentative.surname + ' (' + meetingPartyRepresentative.partyRepresentative.relationship + ')'}" class="table-text"></span>&nbsp &nbsp</td>
				<td style="text-align: right !important;">
					<input th:if="${purpose == 'invite'}" th:attr="data-id=${meetingPartyRepresentative.id}" type="checkbox" class="i-checks partyrepresentative-checkbox" th:checked="${meetingPartyRepresentative.invited}">
					<input th:if="${purpose == 'attend'}" th:attr="data-id=${meetingPartyRepresentative.id}" type="checkbox" class="i-checks partyrepresentative-checkbox" th:checked="${meetingPartyRepresentative.attended}">
					<input th:if="${purpose == 'send'}" th:attr="data-id=${meetingPartyRepresentative.id}" type="checkbox" class="i-checks partyrepresentative-checkbox" th:checked="${meetingPartyRepresentative.receiveMeetingRecord}">
				</td>
			</tr>
		</tbody>
	</table>
</th:block>

<th:block th:fragment="inviteAttendInternalTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table class="table sbf-bottom-border">
		<thead>
			<tr>
				<th>Interne:</th>
				<th th:if="${purpose == 'invite'}" style="text-align: right !important;"></th>
				<th th:if="${purpose == 'attend'}" style="text-align: right !important;">Tilstedeværende</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="meetingInternal : ${internals}">
				<td><span th:text="${meetingInternal.internalContact.employee.firstName + ' ' + meetingInternal.internalContact.employee.surname + ' (' + meetingInternal.internalContact.relationship + ')'}" class="table-text"></span>&nbsp &nbsp</td>
				<td style="text-align: right !important;">
					<input th:if="${purpose == 'invite'}" th:attr="data-id=${meetingInternal.id}" type="checkbox" class="i-checks internal-checkbox" th:checked="${meetingInternal.invited}">
					<input th:if="${purpose == 'attend'}" th:attr="data-id=${meetingInternal.id}" type="checkbox" class="i-checks internal-checkbox" th:checked="${meetingInternal.attended}">
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn sbf-outline" onclick="modalInternalService.openModal(false, null)" style="width: 191px !important; height: 42px !important; margin-bottom: 20px !important;">Tilføj intern</button>
</th:block>

<th:block th:fragment="inviteAttendExternalTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table class="table sbf-bottom-border">
		<thead>
			<tr>
				<th>Eksterne:</th>
				<th th:if="${purpose == 'invite'}" style="text-align: right !important;"></th>
				<th th:if="${purpose == 'attend'}" style="text-align: right !important;">Tilstedeværende</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="meetingExternal : ${externals}">
				<td><span th:text="${meetingExternal.externalContact.firstName + ' ' + meetingExternal.externalContact.surname + ' (' + meetingExternal.externalContact.relationship + ')'}" class="table-text"></span>&nbsp &nbsp</td>
				<td style="text-align: right !important;">
					<input th:if="${purpose == 'invite'}"  th:attr="data-id=${meetingExternal.id}" type="checkbox" class="i-checks external-checkbox" th:checked="${meetingExternal.invited}">
					<input th:if="${purpose == 'attend'}" th:attr="data-id=${meetingExternal.id}" type="checkbox" class="i-checks external-checkbox" th:checked="${meetingExternal.attended}">
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn sbf-outline" onclick="modalExternalService.openModal(false)" style="width: 191px !important; height: 42px !important; margin-bottom: 20px !important;">Tilføj ekstern</button>
</th:block>