<th:block th:fragment="coursePartyRepresentative" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="ibox ibox-sbf">
		<div class="ibox-title ibox-title-sbf-no-collapse sbf-textarea-backround">
			<div class="sbf-panel-row">
				<h2 style="font-weight: bold;">Partsrepræsentanter <a th:replace="fragments/help :: help (title='Partsrepræsentanter', content='En borger giver fuldmagt (mundtligt eller skriftligt) til en partsrepræsentant, hvis de ønsker hjælp eller bistand fra i forbindelse med behandlingen af deres sag. Forældremyndighedsindehaver er partsrepræsentant. Advokater har stillingsfuldmagt og er dermed partsrepræsentanter, men noteres under eksterne, da de ikke skal notere cpr.nr.')" /></h2>
		    </div>
		</div>
		             
		<div class="ibox-content ibox-content-sbf-no-collapse sbf-textarea-backround">
			<table class="table sbf-bottom-border" th:if="${not #lists.isEmpty(partyRepresentatives)}">
				<thead>
					<tr>
						<th>Navn</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rep : ${partyRepresentatives}">
						<td th:attr="data-cpr=${rep.cpr},data-id=${rep.id},data-name=${rep.firstName},data-surname=${rep.surname},data-address=${rep.address},data-city=${rep.city},data-postcode=${rep.postCode},data-phone=${rep.phone},data-email=${rep.email},data-relationship=${rep.relationship}" onclick="modalPartyRepresentativeService.openModal(true, this)"><span th:text="${rep.firstName + ' ' + rep.surname + ' (' + rep.relationship + ')'}" class="table-text"></span>&nbsp &nbsp<em class="fa fa-edit sbf table-text"></em></td>
					</tr>
				</tbody>
			</table>
		
			<button class="btn sbf-full-light" onclick="modalPartyRepresentativeService.openModal(false, null)" style="height: 42px;">Tilknyt partsrepræsentant</button>
		</div>
	</div>
	
	<div class="modal fade" id="modalAddPartyRepresentative" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 id="modalRepHeader" style="font-weight: bold">Tilknyt partsrepræsentant</h2>
			        
			        <button id="removeRepBtn" style="margin-top: 10px" class="btn sbf-full-red padding" onclick="modalPartyRepresentativeService.deletePartyRepresentative()">Slet partsrepræsentant</button>
			    </div>
				<div class="modal-body sbf-modal-body">
					<input id="repId" type="text" class="rep-modal-input" hidden>
					<div class="row">
						<h3 style="font-weight: bold">CPR</h3>
					</div>
					<div class="row">
    					<input id="repCpr" type="text" name="repCpr" class="form-control sbf col-sm-6 rep-modal-input" onkeyup="partyRepresentativeFragmentService.cprLookup()" tabindex="1">
					</div>
					<div class="row">
						<h3 style="font-weight: bold; padding-left:0px;" class="col-sm-6">Info</h3>
						<h3 style="font-weight: bold; padding-left:0px;" class="col-sm-6">Adresse</h3>
					</div>
					<div class="row">
						<div class="col-sm-3 label-input-row">
							<label for="repName" class="sbf">Fornavn(e)</label>
    						<input id="repName" type="text" name="repName" class="form-control sbf rep-modal-input" readonly>
    						<label for="repEmail" class="sbf">Email</label>
    						<input id="repEmail" type="text" name="repEmail" class="form-control sbf rep-modal-input" tabindex="2">
						</div>
						<div class="col-sm-3 label-input-row">
							<label for="repSurname" class="sbf">Efternavn</label>
    						<input id="repSurname" type="text" name="repSurname" class="form-control sbf rep-modal-input" readonly>
    						<label for="repPhone" class="sbf">Telefon</label>
    						<input id="repPhone" type="text" name="repPhone" class="form-control sbf rep-modal-input" tabindex="3">
						</div>
						
						<div class="col-sm-6 label-input-row">
							<div class="row">
								<label for="repAddress" class="sbf">Adresse</label>
    							<input id="repAddress" type="text" name="repAddress" class="form-control sbf rep-modal-input" readonly>
    						</div>
    						<div class="row">
    							<div class="col-sm-6" style="padding-left:0px;">
									<label for="repCity" class="sbf">By</label>
		    						<input id="repCity" type="text" name="repCity" class="form-control sbf rep-modal-input" readonly>
								</div>
								<div class="col-sm-6" style="padding-right:0px;">
									<label for="repPostCode" class="sbf">Postnummer</label>
		    						<input id="repPostCode" type="text" name="repPostCode" class="form-control sbf rep-modal-input" readonly>
								</div>
    						</div>
						</div>
						
						<div class="col-sm-6 label-input-row" style="padding-left:0px;">
							<label for="repRelationship" class="sbf">Relation</label>
    						<input id="repRelationship" maxlength="255" type="text" name="repRelationship" class="form-control sbf rep-modal-input" tabindex="4">
						</div>
					</div>
					<div class="row right-align-button">
						<button id="repSaveBtn" class="btn sbf-full padding" onclick="modalPartyRepresentativeService.save();">Gem ændringer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="coursePartyRepresentativeScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var modalPartyService;
		var partyFragmentService;
		$(document).ready(function() {
			modalPartyRepresentativeService = new ModalPartyRepresentativeService();
			partyRepresentativeFragmentService = new PartyRepresentativeFragmentService();
		});
		
		function ModalPartyRepresentativeService() {
			this.openModal = function(edit, rep) {
				//clearing 
				$(".rep-modal-input").val("");
				
				//setting up
				if (edit) {
					$("#modalRepHeader").text("Rediger partsrepræsentant")
					$("#removeRepBtn").attr('hidden', false);
					$('#repCpr').attr('readonly', true);
					$('#repSaveBtn').removeAttr('onclick');
					$('#repSaveBtn').attr('onClick', 'modalPartyRepresentativeService.saveEdit()');
					
					$('#repId').val($(rep).data("id"));
					$('#repCpr').val($(rep).data("cpr"));
					$('#repName').val($(rep).data("name"));
					$('#repSurname').val($(rep).data("surname"));
					$('#repAddress').val($(rep).data("address"));
					$('#repCity').val($(rep).data("city"));
					$('#repPostCode').val($(rep).data("postcode"));
					$('#repPhone').val($(rep).data("phone"));
					$('#repEmail').val($(rep).data("email"));
					$('#repRelationship').val($(rep).data("relationship"));
				} else {
					$("#removeRepBtn").attr('hidden', true);
					$('#repCpr').attr('readonly', false);
					$("#modalRepHeader").text("Tilknyt partsrepræsentant");
					$('#repSaveBtn').removeAttr('onclick');
					$('#repSaveBtn').attr('onClick', 'modalPartyRepresentativeService.save()');
				}
				
				$("#modalAddPartyRepresentative").modal("show");
			}
			
			this.closeModal = function() {
				$("#modalAddPartyRepresentative").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			this.save = function() {
				if ($("#repPhone").val() != "" && !/^[\d\+() ]{8,}$/.test($("#repPhone").val())) {
					toastr.warning("Partsrepræsentanten kan ikke gemmes, da der er angivet et ugyldigt telefonnummer");
					return;
				}
				if ($("#repEmail").val() != "" && !/^((.+)@(.+))?$/.test($("#repEmail").val())) {
					toastr.warning("Partsrepræsentanten kan ikke gemmes, da der er angivet en ugyldig email");
					return;
				}
				if($("#repRelationship").val() == "") {
					toastr.warning("Partsrepræsentanten kan ikke gemmes, da der skal angives en rolle");
					return;
				}
				
				var length = $("#repCpr").val().length;
				var val = $("#repCpr").val()
				if (length==11) {
					if (val.match(/^[0-9]+$/) == null) {
						//this is the case where the user writes in the format xxxxxx-xxxx
						var nval = val.slice(0, 6) + val.slice(7, 11);
						val = nval;
					}
				}
				
				if (val.length==10){
					if (val.match(/^[0-9]+$/) != null) {
						var url = "";
						if (globalCourseId != null) {
							url = baseUrl + "rest/course/addpartyrepresentative?courseId=" + globalCourseId;
						} else {
							url = baseUrl + "rest/course/addpartyrepresentative";
						}
						
						$.ajax({
							url : url,
							type : 'post',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							data : JSON.stringify({
								cpr: val,
								name: $("#repName").val(),
								surname: $("#repSurname").val(),
								address: $("#repAddress").val(),
								city: $("#repCity").val(),
								postCode: $("#repPostCode").val(),
								email: $("#repEmail").val(),
								phone: $("#repPhone").val(),
								relationship: $("#repRelationship").val()
							}),
							success : function(response) {
								modalPartyRepresentativeService.closeModal();
								defaultService.afterModalSave(response);
							},
							error: function(jqXHR, textStatus, error) {
								switch (jqXHR.status) {
									case 400:
										toastr.warning(jqXHR.responseText);
										break;
									default:
										toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
										break;
								}
							}
						});
					}
				}
			}
			
			this.saveEdit = function() {
				if ($("#repPhone").val() != "" && !/^[\d\+() ]{8,}$/.test($("#repPhone").val())) {
					toastr.warning("Partsrepræsentanten kan ikke gemmes, da der er angivet et ugyldigt telefonnummer");
					return;
				}
				if ($("#repEmail").val() != "" && !/^((.+)@(.+))?$/.test($("#repEmail").val())) {
					toastr.warning("Partsrepræsentanten kan ikke gemmes, da der er angivet en ugyldig email");
					return;
				}
				if($("#repRelationship").val() == "") {
					toastr.warning("Partsrepræsentanten kan ikke gemmes, da der skal angives en rolle");
					return;
				}
				
				var length = $("#repCpr").val().length;
				var val = $("#repCpr").val()
				if (length==11) {
					if (val.match(/^[0-9]+$/) == null) {
						//this is the case where the user writes in the format xxxxxx-xxxx
						var nval = val.slice(0, 6) + val.slice(7, 11);
						val = nval;
					}
				}
				
				if (val.length==10){
					if (val.match(/^[0-9]+$/) != null) {
						var url = baseUrl + "rest/course/editpartyrepresentative?courseId=" + globalCourseId;
						$.ajax({
							url : url,
							type : 'post',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							data : JSON.stringify({
								id: $("#repId").val(),
								cpr: val,
								name: $("#repName").val(),
								surname: $("#repSurname").val(),
								address: $("#repAddress").val(),
								city: $("#repCity").val(),
								postCode: $("#repPostCode").val(),
								email: $("#repEmail").val(),
								phone: $("#repPhone").val(),
								relationship: $("#repRelationship").val()
							}),
							success : function(response) {
								modalPartyRepresentativeService.closeModal();
								defaultService.afterModalSave(response);
							},
							error: function(jqXHR, textStatus, error) {
								switch (jqXHR.status) {
									case 400:
										toastr.warning(jqXHR.responseText);
										break;
									default:
										toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
										break;
								}
							}
						});
					}
				}
			}
			
			this.deletePartyRepresentative = function() {
				var id = $("#repId").val();
				swal({
					html: true,
					title : "Slet partsrepræsentant",
					text : "Er du sikker?",
					showCancelButton : true,
					confirmButtonColor : "#4765a0",
					confirmButtonText : "Slet",
					cancelButtonText : "Annuller",
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function (confirm) {
					if (confirm) {
						$.ajax({
							url : baseUrl + 'rest/course/deletepartyrepresentative/' + id,
							type : 'post',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success : function(response) {
								modalPartyRepresentativeService.closeModal();
								fragmentService.loadPartyRepresentative();
							},
							error: function(jqXHR, textStatus, error) {
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
							}
						});
					}
				});
			}
		}
		
		function PartyRepresentativeFragmentService() {
			this.init = function() {
				$('[data-toggle="popover"]').popover();
			}
			
			this.cprLookup = function(){
				//clearing
				$("#repName").val("");
				$("#repSurname").val("");
				$("#repAddress").val("");
				$("#repCity").val("");
				$("#repPostCode").val("");
				
				var length = $("#repCpr").val().length;
				var val = $("#repCpr").val()
				if (length==11) {
					if (val.match(/^[0-9]+$/) == null) {
						//this is the case where the user writes in the format xxxxxx-xxxx
						var nval = val.slice(0, 6) + val.slice(7, 11);
						val = nval;
					}
				}
				
				if (val.length==10){
					if (val.match(/^[0-9]+$/) != null) {
						$.ajax({
							url : baseUrl + 'rest/course/cprlookup/' + val,
							type : 'get',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success : function(response) {
								$("#repName").val(response.cprLookupDto.name);
								$("#repSurname").val(response.cprLookupDto.surname);
								$("#repAddress").val(response.cprLookupDto.address);
								$("#repCity").val(response.cprLookupDto.city);
								$("#repPostCode").val(response.cprLookupDto.postCode);
							},
							error: function(jqXHR, textStatus, error) {
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
							}
						});
					}
				}
			}
		}

		/*]]>*/
	</script>
</th:block>