<th:block th:fragment="courseParty" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="ibox ibox-sbf">
		<div class="ibox-title ibox-title-sbf-no-collapse sbf-textarea-backround">
			<div class="sbf-panel-row">
				<h2 style="font-weight: bold;">Parter <a th:replace="fragments/help :: help (title='Parter', content='Parter er de borger(e), der har en aktiv sag i sammenhængende borgerforløb. ')" /></h2>
		    </div>
		</div>
		             
		<div class="ibox-content ibox-content-sbf-no-collapse sbf-textarea-backround">
			<input id="isCourseDraft" th:value="${isCourseDraft}" hidden>
			<table class="table sbf-bottom-border" th:if="${not #lists.isEmpty(parties)}">
				<thead>
					<tr>
						<th>Navn</th>
						<th style="text-align: right !important;">Handlinger</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="party : ${parties}">
						<td th:attr="data-cpr=${party.cpr},data-id=${party.id},data-name=${party.name},data-surname=${party.surname},data-address=${party.address},data-city=${party.city},data-postcode=${party.postCode},data-phone=${party.phone},data-email=${party.email},data-birthday=${party.birthday},data-consenttype=${party.consentType},data-consentdate=${party.consentDate}, data-16meetingheld=${party.sixteenYearMeetingHeld}, data-16meetingdate=${party.sixteenYearMeetingDate}, data-18meetingheld=${party.eighteenYearMeetingHeld}, data-18meetingdate=${party.eighteenYearMeetingDate}, data-show16=${party.show16}, data-show18=${party.show18}, data-esdhcasereference=${party.esdhCaseReference}, data-esdhlinkreference=${party.esdhLinkReference}, data-esdhcasedisplayname=${party.esdhCaseDisplayName}" onclick="modalPartyService.openModal(true, this)"><span th:text="${party.name + ' ' + party.surname + ' (' + party.cpr + ')'}" class="table-text"></span>&nbsp &nbsp<em class="fa fa-edit sbf table-text"></em></td>
						<td style="text-align: right !important;">
							
							<span th:if="${party.show16 && party.sixteenYearMeetingHeld}" class="green" title="16-års møde afholdt" style="padding-right: 5px;">16</span>
							<span th:if="${party.show16 && !party.sixteenYearMeetingHeld}" class="red" title="16-års møde ikke afholdt" style="padding-right: 5px;">16</span>
							<span th:if="${party.show18 && party.eighteenYearMeetingHeld}" class="green" title="17,5-års møde afholdt" style="padding-right: 5px;">18</span>
							<span th:if="${party.show18 && !party.eighteenYearMeetingHeld}" class="red" title="17,5-års møde ikke afholdt" style="padding-right: 5px;">18</span>
							<img th:if="${party.consentDate!=null}" src="/img/consent.png" title="Samtykke givet" style="padding-right: 5px;"></img>
							<img th:if="${party.consentDate==null}" src="/img/not-consent.png" title="Samtykke ikke givet" style="padding-right: 5px;"></img>
							<em th:if="${!isCourseDraft && #strings.isEmpty(party.esdhCaseReference)}" class="fa fa-exclamation-triangle" style="color: red" title="Oprettelsen af SBSYS sag er fejlet"></em>
						</td>
					</tr>
				</tbody>
			</table>
		
			<button class="btn sbf-full-light" onclick="modalPartyService.openModal(false, null)" style="width: 150px; height: 42px;">Tilknyt part</button>
		</div>
	</div>
</th:block>

<th:block th:fragment="coursePartyScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var modalPartyService;
		var partyFragmentService;
		$(document).ready(function() {
			modalPartyService = new ModalPartyService();
			partyFragmentService = new PartyFragmentService();
		});
		
		function ModalPartyService() {
			this.openModal = function(edit, party) {
				
				//clearing 
				$(".party-modal-input").val("");
				$('#checkboxMandatoryMeeting16').iCheck('uncheck');
				$('#checkboxMandatoryMeeting18').iCheck('uncheck');
				$("#consentType").val("NONE");
				$(".sixteen").attr('hidden', true);
				$(".eighteen").attr('hidden', true);
				$("#sbsysText").attr('hidden', true);
				$("#sbsysCaseLink").attr('hidden', true);
				$('#consentDate').attr('readonly', true);
				$("#consentDateSpan").css("background-color", "#F1F1F1");
				$(".previouslyAssociated").attr('hidden', true);
				$(".belongsToActiveCourse").attr('hidden', true);
				$(".caseCreationFailed").attr('hidden', true);
				
				//setting up
				if (edit) {
					$("#modalPartyHeader").text("Rediger part")
					$("#removePartyBtn").attr('hidden', false);
					$('#cpr').attr('readonly', true);
					$('#partySaveBtn').removeAttr('onclick');
					$('#partySaveBtn').attr('onClick', 'modalPartyService.saveEdit()');
					
					$('#id').val($(party).data("id"));
					$('#cpr').val($(party).data("cpr"));
					$('#name').val($(party).data("name"));
					$('#surname').val($(party).data("surname"));
					$('#address').val($(party).data("address"));
					$('#city').val($(party).data("city"));
					$('#postCode').val($(party).data("postcode"));
					$('#phone').val($(party).data("phone"));
					$('#email').val($(party).data("email"));
					$('#consentType').val($(party).data("consenttype"));
					if ($(party).data("consentdate") != null) {
						var consentDateSplit = $(party).data("consentdate").split("-");
						var consentDate = consentDateSplit[2].substring(0,2) + "/" + consentDateSplit[1] + "/" + consentDateSplit[0];
						$('#consentDate').val(consentDate);
						$('#consentDate').attr('readonly', false);
						$("#consentDateSpan").css("background-color", "#EFF5F4 ");
					}
					
					var datesplit = $(party).data("birthday").split("-");
					var birthday = datesplit[2].substring(0,2) + "/" + datesplit[1] + "/" + datesplit[0];
					$('#birthday').val(birthday);
					
					if ($(party).data("16meetingheld")) {
						$('#checkboxMandatoryMeeting16').iCheck('check');
						$('#mandatoryMeetingDate16').attr('readonly', false);
						$("#mandatoryMeetingDate16Span").css("background-color", "#EFF5F4 ");
					} else {
						$('#checkboxMandatoryMeeting16').iCheck('uncheck');
						$('#mandatoryMeetingDate16').attr('readonly', true);
						$("#mandatoryMeetingDate16Span").css("background-color", "#F1F1F1");
					}
					
					if ($(party).data("16meetingdate") != null) {
						var sixteenMeetingDateSplit = $(party).data("16meetingdate").split("-");
						var sixteenMeetingDate = sixteenMeetingDateSplit[2].substring(0,2) + "/" + sixteenMeetingDateSplit[1] + "/" + sixteenMeetingDateSplit[0];
						$('#mandatoryMeetingDate16').val(sixteenMeetingDate);
					}
					
					if ($(party).data("18meetingheld")) {
						$('#checkboxMandatoryMeeting18').iCheck('check');
						$('#mandatoryMeetingDate18').attr('readonly', false);
						$("#mandatoryMeetingDate18Span").css("background-color", "#EFF5F4 ");
					} else {
						$('#checkboxMandatoryMeeting18').iCheck('uncheck');
						$('#mandatoryMeetingDate18').attr('readonly', true);
						$("#mandatoryMeetingDate18Span").css("background-color", "#F1F1F1");
					}
					
					if ($(party).data("18meetingdate") != null) {
						var eighteenMeetingDateSplit = $(party).data("18meetingdate").split("-");
						var eighteenMeetingDate = eighteenMeetingDateSplit[2].substring(0,2) + "/" + eighteenMeetingDateSplit[1] + "/" + eighteenMeetingDateSplit[0];
						$('#mandatoryMeetingDate18').val(eighteenMeetingDate);
					}
					
					if ($(party).data("show16")) {
						partyFragmentService.showSixteen(true);
					}
					
					if ($(party).data("show18")) {
						partyFragmentService.showEighteen(true);
					}
					
					var isCourseDraft = $("#isCourseDraft").val();
					var caseRef = $(party).data("esdhcasereference");
					var linkRef = $(party).data("esdhlinkreference");
					if (isCourseDraft == "true") {
						if (caseRef != null && caseRef != "" && caseRef != undefined) {
							$("#sbsysText").attr('hidden', true);
							var link = $("#sbsysCaseLink").data("link");
							$("#sbsysCaseLink").attr("href", link + linkRef);
							$("#sbsysCaseLink").text($(party).data("esdhcasedisplayname"));
							$("#sbsysCaseLink").attr('hidden', false);
						} else {
							$("#sbsysText").attr('hidden', false);
							$("#sbsysCaseLink").attr('hidden', true);
						}
					}else {
						if (caseRef != null && caseRef != "" && caseRef != undefined) {
							$("#sbsysText").attr('hidden', true);
							var caseRef = $(party).data("esdhcasereference");
							var link = $("#sbsysCaseLink").data("link");
							$("#sbsysCaseLink").attr("href", link + linkRef);
							$("#sbsysCaseLink").text($(party).data("esdhcasedisplayname"));
							$("#sbsysCaseLink").attr('hidden', false);
						} else {
							$(".caseCreationFailed").attr('hidden', false);
						}
					}
					
				} else {
					$("#removePartyBtn").attr('hidden', true);
					$('#cpr').attr('readonly', false);
					$("#modalPartyHeader").text("Tilknyt part");
					$('#partySaveBtn').removeAttr('onclick');
					$('#partySaveBtn').attr('onClick', 'modalPartyService.save()');
					
					var isCourseDraft = $("#isCourseDraft").val();
					if (isCourseDraft == "true") {
						$("#sbsysText").attr('hidden', false);
						$("#sbsysNewText").attr('hidden', true);
						$("#sbsysCaseLink").attr('hidden', true);
					} else {
						$("#sbsysNewText").attr('hidden', false);
						$("#sbsysCaseLink").attr('hidden', true);
						$("#sbsysText").attr('hidden', true);
					}
				}
				
				$("#modalAddParty").modal("show");
			}
			
			this.closeModal = function() {
				$("#modalAddParty").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			this.save = function() {
				var consentDate = $("#consentDate").val();
				var split = consentDate.split("/");
				if (consentDate != "" && (consentDate.length > 10 || split.length !=3 || split[0].length > 2 || split[1].length > 2 || split[2].length > 4 || !/^-?\d+$/.test(split[0]) || !/^-?\d+$/.test(split[1])|| !/^-?\d+$/.test(split[2]))) {
					toastr.warning("Parten kan ikke gemmes, da der er angivet en ugyldig samtykkedato");
					return;
				}
				
				if ($("#email").val() != "" && !/^((.+)@(.+))?$/.test($("#email").val())) {
					toastr.warning("Parten kan ikke gemmes, da der er angivet en ugyldig email");
					return;
				}
				
				if ($("#phone").val() != "" && !/^[\d\+() ]{8,}$/.test($("#phone").val())) {
					toastr.warning("Parten kan ikke gemmes, da der er angivet et ugyldigt telefonnummer");
					return;
				}
				
				var length = $("#cpr").val().length;
				var val = $("#cpr").val()
				if (length==11) {
					if (val.match(/^[0-9]+$/) == null) {
						//this is the case where the user writes in the format xxxxxx-xxxx
						var nval = val.slice(0, 6) + val.slice(7, 11);
						val = nval;
					}
				}
				
				if (val.length==10){
					if (val.match(/^[0-9]+$/) != null) {
						loading();
						var url = "";
						if (globalCourseId != null) {
							url = baseUrl + "rest/course/addparty?courseId=" + globalCourseId;
						} else {
							url = baseUrl + "rest/course/addparty";
						}
						$.ajax({
							url : url,
							type : 'post',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							data : JSON.stringify({
								cpr: val,
								name: $("#name").val(),
								surname: $("#surname").val(),
								address: $("#address").val(),
								city: $("#city").val(),
								postCode: $("#postCode").val(),
								birthday: $("#birthday").val(),
								email: $("#email").val(),
								phone: $("#phone").val(),
								consentType: $("#consentType").val(),
								consentDate: $("#consentDate").val(),
								mandatoryMeetingHeld16: $("#checkboxMandatoryMeeting16").prop("checked"),
								mandatoryMeetingDate16: $("#mandatoryMeetingDate16").val(),
								mandatoryMeetingHeld18: $("#checkboxMandatoryMeeting18").prop("checked"),
								mandatoryMeetingDate18: $("#mandatoryMeetingDate18").val()
							}),
							success : function(response) {
								stopLoading();
								modalPartyService.closeModal();
								defaultService.afterModalSave(response.courseId);
								
								if (response.caseCreationFailed) {
									toastr.error("Oprettelsen af SBSYS sag fejlede");
								}
							},
							error: function(jqXHR, textStatus, error) {
								stopLoading();
								switch (jqXHR.status) {
									case 400:
										toastr.warning(jqXHR.responseText);
										break;
									default:
										toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
										break;
								}
							}
						});
					}
				}
			}
			
			this.saveEdit = function() {
				var consentDate = $("#consentDate").val();
				var split = consentDate.split("/");
				if (consentDate != "" && (consentDate.length > 10 || split.length !=3 || split[0].length > 2 || split[1].length > 2 || split[2].length > 4 || !/^-?\d+$/.test(split[0]) || !/^-?\d+$/.test(split[1])|| !/^-?\d+$/.test(split[2]))) {
					toastr.warning("Parten kan ikke gemmes, da der er angivet en ugyldig samtykkedato");
					return;
				}
				
				if ($("#email").val() != "" && !/^((.+)@(.+))?$/.test($("#email").val())) {
					toastr.warning("Parten kan ikke gemmes, da der er angivet en ugyldig email");
					return;
				}
				
				if ($("#phone").val() != "" && !/^[\d\+() ]{8,}$/.test($("#phone").val())) {
					toastr.warning("Parten kan ikke gemmes, da der er angivet et ugyldigt telefonnummer");
					return;
				}
				
				var length = $("#cpr").val().length;
				var val = $("#cpr").val()
				if (length==11) {
					if (val.match(/^[0-9]+$/) == null) {
						//this is the case where the user writes in the format xxxxxx-xxxx
						var nval = val.slice(0, 6) + val.slice(7, 11);
						val = nval;
					}
				}
				
				if (val.length==10){
					if (val.match(/^[0-9]+$/) != null) {
						var url = baseUrl + "rest/course/editparty?courseId=" + globalCourseId;
						$.ajax({
							url : url,
							type : 'post',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							data : JSON.stringify({
								id: $("#id").val(),
								cpr: val,
								name: $("#name").val(),
								surname: $("#surname").val(),
								address: $("#address").val(),
								city: $("#city").val(),
								postCode: $("#postCode").val(),
								birthday: $("#birthday").val(),
								email: $("#email").val(),
								phone: $("#phone").val(),
								consentType: $("#consentType").val(),
								consentDate: $("#consentDate").val(),
								mandatoryMeetingHeld16: $("#checkboxMandatoryMeeting16").prop("checked"),
								mandatoryMeetingDate16: $("#mandatoryMeetingDate16").val(),
								mandatoryMeetingHeld18: $("#checkboxMandatoryMeeting18").prop("checked"),
								mandatoryMeetingDate18: $("#mandatoryMeetingDate18").val()
							}),
							success : function(response) {
								modalPartyService.closeModal();
								defaultService.afterModalSave(response);
							},
							error: function(jqXHR, textStatus, error) {
								switch (jqXHR.status) {
									case 400:
										toastr.warning(jqXHR.responseText);
										break;
									default:
										toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
										break;
								}
							}
						});
					}
				}
			}
			
			this.deleteParty = function() {
				var id = $("#id").val();
				swal({
					html: true,
					title : "Slet part",
					text : "Er du sikker?",
					showCancelButton : true,
					confirmButtonColor : "#4765a0",
					confirmButtonText : "Slet",
					cancelButtonText : "Annuller",
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function (confirm) {
					if (confirm) {
						loading();
						$.ajax({
							url : baseUrl + 'rest/course/deleteparty/' + id,
							type : 'post',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success : function(response) {
								stopLoading();
								modalPartyService.closeModal();
								fragmentService.loadParty();
							},
							error: function(jqXHR, textStatus, error) {
								stopLoading();
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
							}
						});
					}
				});
			}
		}
		
		function PartyFragmentService() {
			this.init = function() {
				$('#consentDate').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd/mm/yyyy",
					orientation: "bottom",
					enableOnReadonly: false,
					language: "da"
				});
				$("#consentDateSpan").on("click",function() {
					$('#consentDate').focus().trigger("focus");
				});
				
				$('#mandatoryMeetingDate16').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd/mm/yyyy",
					orientation: "bottom",
					language: "da"
				});
				$("#mandatoryMeetingDate16Span").on("click",function() {
					$('#mandatoryMeetingDate16').focus().trigger("focus");
				});

				$('#mandatoryMeetingDate18').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd/mm/yyyy",
					orientation: "bottom",
					language: "da"
				});
				$("#mandatoryMeetingDate18Span").on("click",function() {
					$('#mandatoryMeetingDate18').focus().trigger("focus");
				});

				$('.i-checks').iCheck({
					checkboxClass: 'icheckbox_square-green',
					radioClass: 'iradio_square-green',
				});
				
				partyFragmentService.onSelect();
				
				$('#consentType').on('change', function (e) {
					partyFragmentService.onSelect();
				});
				
				$('[data-toggle="popover"]').popover();
			}
			
			this.cprLookup = function(){
				//clearing
				$("#name").val("");
				$("#surname").val("");
				$("#address").val("");
				$("#city").val("");
				$("#postCode").val("");
				$("#birthday").val("");
				
				var length = $("#cpr").val().length;
				var val = $("#cpr").val()
				if (length==11) {
					if (val.match(/^[0-9]+$/) == null) {
						//this is the case where the user writes in the format xxxxxx-xxxx
						var nval = val.slice(0, 6) + val.slice(7, 11);
						val = nval;
					}
				}
				
				if (val.length==10){
					if (val.match(/^[0-9]+$/) != null) {
						loading();
						var url = "";
						if (globalCourseId != null) {
							url = baseUrl + 'rest/course/cprlookup/' + val + "?courseId=" + globalCourseId;
						} else {
							url = baseUrl + 'rest/course/cprlookup/' + val;
						}
						$.ajax({
							url : url,
							type : 'get',
							contentType: 'application/json',
							headers: {
								'X-CSRF-TOKEN': token
							},
							success : function(response) {
								$("#name").val(response.cprLookupDto.name);
								$("#surname").val(response.cprLookupDto.surname);
								$("#address").val(response.cprLookupDto.address);
								$("#city").val(response.cprLookupDto.city);
								$("#postCode").val(response.cprLookupDto.postCode);
								var datesplit = response.cprLookupDto.birthday.split("-")
								$("#birthday").val(datesplit[2] + "/" + datesplit[1] + "/" + datesplit[0]);
								partyFragmentService.showSixteen(response.cprLookupDto.show16);
								partyFragmentService.showEighteen(response.cprLookupDto.show18);
								partyFragmentService.showBelongsToActiveCourse(response.belongsToActiveCourse);
								partyFragmentService.showPreviouslyAssociated(response.previouslyAssociated);
								
								stopLoading();
							},
							error: function(jqXHR, textStatus, error) {
								stopLoading();
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
							}
						});
					}
				}
			}
			
			this.showSixteen = function (show) {
				$(".sixteen").attr('hidden', !show);
				if( show )
				{
					partyFragmentService.mandatoryMeetingMsg16();
					$('#checkboxMandatoryMeeting16').on('ifChanged', function(event){
						partyFragmentService.mandatoryMeetingMsg16();
					});
				}
				else
				{
					$('#checkboxMandatoryMeeting16').iCheck('uncheck');
					$('#mandatoryMeetingDate16').val("");
				}
			}
			
			this.showEighteen = function (show) {
				$(".eighteen").attr('hidden', !show);
				if( show )
				{
					partyFragmentService.mandatoryMeetingMsg18();
					$('#checkboxMandatoryMeeting18').on('ifChanged', function(event){
						partyFragmentService.mandatoryMeetingMsg18();
					});
				}
				else
				{
					$('#checkboxMandatoryMeeting18').iCheck('uncheck');
					$('#mandatoryMeetingDate18').val("");
				}
			}

			this.showBelongsToActiveCourse = function (show) {
				$(".belongsToActiveCourse").attr('hidden', !show);
			}
			
			this.showPreviouslyAssociated = function (show) {
				$(".previouslyAssociated").attr('hidden', !show);
			}
			
			this.onSelect = function() {
				var val = $( "#consentType" ).val();
				if (val == "NONE") {
					$("#consentTypeMsg").attr('hidden', false);
					$('#consentDate').val("");
					$('#consentDate').attr('readonly', true);
					$("#consentDateSpan").css("background-color", "#F1F1F1");
				} else {
					$("#consentTypeMsg").attr('hidden', true);
					$('#consentDate').attr('readonly', false);
					$("#consentDateSpan").css("background-color", "#EFF5F4 ");
				}
			}
			
			this.mandatoryMeetingMsg16 = function() {
				var checked = $("#checkboxMandatoryMeeting16").prop("checked");
				if (!checked){
					$("#mandatoryMeetingMsg16").attr('hidden', false);
					$('#mandatoryMeetingDate16').attr('readonly', true);
					$("#mandatoryMeetingDate16").prop('disabled', true);
					$('#mandatoryMeetingDate16').val("");
					$("#mandatoryMeetingDate16Span").css("background-color", "#F1F1F1");
				} else {
					$("#mandatoryMeetingMsg16").attr('hidden', true);
					$('#mandatoryMeetingDate16').attr('readonly', false);
					$("#mandatoryMeetingDate16").prop('disabled', false);
					$("#mandatoryMeetingDate16Span").css("background-color", "#EFF5F4 ");
				}
			}
			
			this.mandatoryMeetingMsg18 = function() {
				var checked = $("#checkboxMandatoryMeeting18").prop("checked");
				if (!checked){
					$("#mandatoryMeetingMsg18").attr('hidden', false);
					$('#mandatoryMeetingDate18').attr('readonly', true);
					$("#mandatoryMeetingDate18").prop('disabled', true);
					$('#mandatoryMeetingDate18').val("");
					$("#mandatoryMeetingDate18Span").css("background-color", "#F1F1F1");
				} else {
					$("#mandatoryMeetingMsg18").attr('hidden', true);
					$('#mandatoryMeetingDate18').attr('readonly', false);
					$("#mandatoryMeetingDate18").prop('disabled', false);
					$("#mandatoryMeetingDate18Span").css("background-color", "#EFF5F4 ");
				}
			}
			
			this.recreateCase = function() {
				var id = $("#id").val();
				
				loading();
				$.ajax({
					url : baseUrl + 'rest/course/recreatecase/' + id,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						stopLoading();
						if (response.caseRef != null && response.caseRef != "") {
							var link = $("#sbsysCaseLink").data("link");
							$("#sbsysCaseLink").attr("href", link + response.linkRef);
							$("#sbsysCaseLink").text(response.esdhCaseDisplayName);
							$("#sbsysCaseLink").attr('hidden', false);
							$(".caseCreationFailed").attr('hidden', true);
							fragmentService.loadParty();
							toastr.success("Sagen blev oprettet");
						} else {
							toastr.warning("Sagen kunne ikke oprettes");
						}
						
						
					},
					error: function(jqXHR, textStatus, error) {
						stopLoading();
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
		}

		/*]]>*/
	</script>
</th:block>