<th:block th:fragment="pdfPreviewModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="pdfPreviewModal" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content sbf-modal">
				<div class="modal-header sbf-modal-header">
			        <h2 id="modalPdfHeader" style="font-weight: bold">Invitation preview</h2>
			    </div>
				<div class="modal-body sbf-modal-body">
					<div class="background-box">
					<div class="btn-group col-lg-12" style="margin-bottom: 10px;">
	                        <button id="prev" class="btn btn-white col-lg-2">
	                            <i class="fa fa-long-arrow-left"></i> <span class="d-none d-sm-inline">Forrige</span>
	                        </button>
	                        <button id="next" class="btn btn-white col-lg-2">
	                        	<span class="d-none d-sm-inline">Næste</span> <i class="fa fa-long-arrow-right"></i>
	                        </button>
	                        <button id="zoomin" class="btn btn-white col-lg-2">
	                            <i class="fa fa-search-plus"></i> <span class="d-none d-sm-inline">Zoom Ind</span>
	                        </button>
	                        <button id="zoomout" class="btn btn-white col-lg-2">
	                            <i class="fa fa-search-minus"></i> <span class="d-none d-sm-inline">Zoom ud</span>
	                        </button>
	                        <button id="zoomfit" class="btn btn-white"> 100%</button>
	                        <span class="btn btn-white hidden-xs">Side: </span>
	
		                    <div class="input-group">
		                        <input type="text" class="form-control" id="page_num" style="height: 100% !important;">
		
		                        <div class="input-group-append">
		                            <button type="button" class="btn btn-white" id="page_count">/ 2</button>
		                        </div>
		                    </div>

                    	</div>
						<canvas id="pdfCanvas" style="max-width: 100% !important;"></canvas>
					</div>
					<br><br>
					<div class="row right-align-button">
						<button id="backBtn" class="btn sbf-full-light green-text padding" onclick="modalPdfService.closeModal()">Tilbage til rediger</button> &nbsp &nbsp
						<button id="inviteBtn" class="btn sbf-full padding" hidden>Send invitation til borger via digitalpost</button>
						<button id="journalizeBtn" class="btn sbf-full padding" hidden>Send referat til borger via digitalpost</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="pdfPreviewModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var modalPdfService;
		var pdfDoc, pageNum, pageRendering, pageNumPending, scale, zoomRange, canvas, ctx;
		$(document).ready(function() {
			modalPdfService = new ModalPdfService();
		});
		
		function ModalPdfService() {
			
			this.closeModal = function () {
				$("#pdfPreviewModal").modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
			}
			
			/* The code in this service is stolen from http://webapplayers.com/inspinia_admin-v2.9.4/pdf_viewer.html but modified */
			this.init = function (url) {
				//Setting initial values
				pdfDoc = null;
				pageNum = 1;
		        pageRendering = false;
		        pageNumPending = null;
		        scale = 1;
		        zoomRange = 0.1;
		        canvas = document.getElementById('pdfCanvas');
		        ctx = canvas.getContext('2d');
		        
		        //fetching the pdf
				PDFJS.getDocument(url).then(function (pdfDoc_) {
					pdfDoc = pdfDoc_;
		            var documentPagesNumber = pdfDoc.numPages;
		            document.getElementById('page_count').textContent = '/ ' + documentPagesNumber;

		            $('#page_num').on('change', function() {
		                var pageNumber = Number($(this).val());

		                if(pageNumber > 0 && pageNumber <= documentPagesNumber) {
		                	modalPdfService.queueRenderPage(pageNumber, scale);
		                }

		            });

		            // Initial/first page rendering
		            modalPdfService.renderPage(pageNum, scale);
		        });
				
		        //add listeners
				document.getElementById('prev').addEventListener('click', modalPdfService.onPrevPage);
				document.getElementById('next').addEventListener('click', modalPdfService.onNextPage);
				document.getElementById('zoomin').addEventListener('click', modalPdfService.onZoomIn);
				document.getElementById('zoomout').addEventListener('click', modalPdfService.onZoomOut);
				document.getElementById('zoomfit').addEventListener('click', modalPdfService.onZoomFit);
				
			}
			
	        //Get page info from document, resize canvas accordingly, and render page.
			this.renderPage = function (num, scale) {
	            pageRendering = true;
	            // Using promise to fetch the page
	            pdfDoc.getPage(num).then(function(page) {
	                var viewport = page.getViewport(scale);
	                canvas.height = viewport.height;
	                canvas.width = viewport.width;

	                // Render PDF page into canvas context
	                var renderContext = {
	                    canvasContext: ctx,
	                    viewport: viewport
	                };
	                var renderTask = page.render(renderContext);

	                // Wait for rendering to finish
	                renderTask.promise.then(function () {
	                    pageRendering = false;
	                    if (pageNumPending !== null) {
	                        // New page rendering is pending
	                        modalPdfService.renderPage(pageNumPending);
	                        pageNumPending = null;
	                    }
	                });
	            });

	            // Update page counters
	            document.getElementById('page_num').value = num;
	        }
	        
			/**
	         * If another page rendering in progress, waits until the rendering is
	         * finised. Otherwise, executes rendering immediately.
	         */
	        this.queueRenderPage = function (num) {
	            if (pageRendering) {
	                pageNumPending = num;
	            } else {
	            	modalPdfService.renderPage(num,scale);
	            }
	        }
			
	        /**
	         * Displays previous page.
	         */
	        this.onPrevPage = function () {
	            if (pageNum <= 1) {
	                return;
	            }
	            pageNum--;
	            var scale = pdfDoc.scale;
	            modalPdfService.queueRenderPage(pageNum, scale);
	        }
	        
	        /**
	         * Displays next page.
	         */
	        this.onNextPage = function () {
	            if (pageNum >= pdfDoc.numPages) {
	                return;
	            }
	            pageNum++;
	            var scale = pdfDoc.scale;
	            modalPdfService.queueRenderPage(pageNum, scale);
	        }
	        
	        /**
	         * Zoom in page.
	         */
	        this.onZoomIn = function () {
	            if (scale >= pdfDoc.scale) {
	                return;
	            }
	            scale += zoomRange;
	            var num = pageNum;
	            modalPdfService.renderPage(num, scale)
	        }

	        /**
	         * Zoom out page.
	         */
	        this.onZoomOut = function () {
	            if (scale >= pdfDoc.scale) {
	                return;
	            }
	            scale -= zoomRange;
	            var num = pageNum;
	            modalPdfService.queueRenderPage(num, scale);
	        }

	        /**
	         * Zoom fit page.
	         */
	        this.onZoomFit = function () {
	            if (scale >= pdfDoc.scale) {
	                return;
	            }
	            scale = 1;
	            var num = pageNum;
	            modalPdfService.queueRenderPage(num, scale);
	        }
	        
			
		}

		/*]]>*/
	</script>
</th:block>