<th:block th:fragment="progressTab" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:if="${progress == null}">
		<h2 style="font-weight: bold;" class="col-sm-12">
			Borgers vurdering af indsatsen i forhold til overordnet mål om:
			<ul>
				<li>Trivsel og deltagelse i fællesskaber</li>
				<li>Uddannelse og Job</li>
			</ul>
		</h2>
		<div class="row" style="margin: 15px;">
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(1, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">1</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(2, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">2</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(3, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">3</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(4, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">4</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(5, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">5</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(6, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">6</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(7, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">7</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(8, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">8</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(9, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">9</button>
			<button class="btn sbf-full-light rating" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(10, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">10</button>
		</div>
		<input th:id="'progressPresent' + ${party.id}" th:value="${progress != null}" hidden>
		<input th:id="'selectedRating' + ${party.id}" hidden>
		<input th:id="'courseId' + ${party.id}" th:value="${party.course.id}" hidden>
		<h2 style="font-weight: bold;" class="col-sm-12">Borgers kommentar</h2>
		<div class="row" style="margin: 15px;">
			<textarea th:id="'progressComment' + ${party.id}" rows="3" class="col-lg-12 progress-textarea" th:onkeyup="'progressTabFragmentService.countChar(' + ${party.id} + ')'" maxlength="250" placeholder="Skriv kommentar"></textarea>
			<div th:id="'charNumber' + ${party.id}" class="progress-char-count col-sm-12"></div>
		</div>
		<div class="row justify-content-between" style="margin: 15px;">
			<span class="sbf" style="float:right !important;">Faglig vurdering <a th:replace="fragments/help :: help (title='Faglig vurdering', content='Kan kun anvendes i de tilfælde hvor borger ikke kognitivt evner at svare. Her kan en fagperson undtagelsesvis svare på borgers vegne.')" /> &nbsp&nbsp<input th:id="'professionalOpinion' + ${party.id}" type="checkbox" class="i-checks"></span>
			<button id="progressSaveBtn" class="btn sbf-full" th:onclick="'progressTabFragmentService.save(' + ${party.id} + ');'" style="width: 150px; height: 42px; float:left !important;">Gem</button>
		</div>
	</div>
	<div th:if="${progress != null}">
		<h2 style="font-weight: bold;" class="col-sm-12">
			Borgers vurdering af indsatsen i forhold til overordnet mål om:
			<ul>
				<li>Trivsel og deltagelse i fællesskaber</li>
				<li>Uddannelse og Job</li>
			</ul>
		</h2>
		<div class="row" style="margin: 15px;">
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 1} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(1, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">1</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 2} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(2, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">2</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 3} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(3, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">3</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 4} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(4, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">4</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 5} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(5, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">5</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 6} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(6, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">6</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 7} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(7, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">7</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 8} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(8, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">8</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 9} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(9, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">9</button>
			<button class="btn sbf-full-light rating" th:classappend="${progress.score == 10} ? selected : ''" th:attr="data-id=${party.id}" onclick="progressTabFragmentService.rate(10, this)" style="width: 47px; height: 47px; margin-right: 10px; box-shadow: none !important;">10</button>
		</div>
		<input th:id="'progressId' + ${party.id}" th:value="${progress.id}" hidden>
		<input th:id="'selectedRating' + ${party.id}" th:value="${progress.score}" hidden>
		<input th:id="'courseId' + ${party.id}" th:value="${party.course.id}" hidden>
		<h2 style="font-weight: bold;" class="col-sm-12">Borgers kommentar</h2>
		<div class="row" style="margin: 15px;">
			<textarea th:id="'progressComment' + ${party.id}" rows="3" class="col-lg-12 progress-textarea" th:text="${progress.progressComment}" th:onkeyup="'progressTabFragmentService.countChar(' + ${party.id} + ')'" maxlength="250" placeholder="Skriv kommentar"></textarea>
			<div th:id="'charNumber' + ${party.id}" class="progress-char-count col-sm-12"></div>
		</div>
		<div class="row justify-content-between" style="margin: 15px;">
			<span class="sbf" style="float:right !important;">Faglig vurdering <a th:replace="fragments/help :: help (title='Faglig vurdering', content='Kan kun anvendes i de tilfælde hvor borger ikke kognitivt evner at svare. Her kan en fagperson undtagelsesvis svare på borgers vegne.')" /> &nbsp&nbsp<input th:id="'professionalOpinion' + ${party.id}" type="checkbox" class="i-checks" th:checked="${progress.scoredByProfessional}"></span>
			<button id="progressSaveBtn" class="btn sbf-full" th:onclick="'progressTabFragmentService.save(' + ${party.id} + ');'" style="width: 150px; height: 42px; float:left !important;">Gem</button>
		</div>
	</div>
</th:block>

<th:block th:fragment="progressTabScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var progressTabFragmentService;
		$(document).ready(function() {
			progressTabFragmentService = new ProgressTabFragmentService();
		});
		
		function ProgressTabFragmentService() {
			this.init = function(id) {
				progressTabFragmentService.countChar(id);
				$('.i-checks').iCheck({
					checkboxClass: 'icheckbox_square-green',
					radioClass: 'iradio_square-green',
				});
				$('[data-toggle="popover"]').popover();
				
			}
			
			this.countChar = function(id) {
				var len = $("#progressComment" + id).val().length;
	            $("#charNumber" + id).text(len + "/250 tegn ");
			}
			
			this.rate = function(rating, btn) {
				var id = $(btn).data("id");
				$("#selectedRating" + id).val(rating);
				$(".rating").removeClass("selected")
				$(btn).addClass("selected");
			}
			
			this.save = function(id) {
				var selectedRating = $("#selectedRating" + id).val();
				var comment = $("#progressComment" + id).val();
				var professionalOpinion = $("#professionalOpinion" + id).prop("checked");
				var courseId = $("#courseId" + id).val(); 
				var url = baseUrl + "rest/progress/save"
				if (comment.length == 0) {
					toastr.warning("Du kan ikke gemme fremskridtet uden en kommentar");
				}
				if (selectedRating.length > 0 && comment.length > 0) {
					$.ajax({
						url : url,
						type : 'post',
						contentType: 'application/json',
						headers: {
							'X-CSRF-TOKEN': token
						},
						data : JSON.stringify({
							courseId: courseId,
							partyId: id,
							selectedRating: selectedRating,
							comment: comment,
							professionalOpinion: professionalOpinion
							
						}),
						success : function(response) {
							toastr.success("Fremskridtet er gemt.")
							chartService.fetchdata();
						},
						error: function(jqXHR, textStatus, error) {
							switch (jqXHR.status) {
								case 400:
									toastr.warning(jqXHR.responseText);
									break;
								default:
									toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
									break;
							}
						}
					});
				}
			}
		}

		/*]]>*/
	</script>
</th:block>