<th:block th:fragment="searchResult" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<div th:if="${not #lists.isEmpty(courses)}" th:each="course : ${courses}" class="col-sm-4">
			<div class="ibox ibox-sbf collapsed" >
	            <div class="ibox-title ibox-title-sbf">
	            	<div class="row sbf-panel-row clickable" onclick="searchResultService.lockToNavbar(this)" th:attr="data-id=${course.id}, data-type=${course.type}, data-header=${course.partyHeader}">
		                <img th:if="${course.type == 'Flerpartsforløb'}" src="/img/users.png" height="20px"></img> <img th:if="${course.type == 'Enkeltpartsforløb'}" src="/img/user.png" height="20px"></img> &nbsp &nbsp <h4 class="sbf" th:text="${course.type}"></h4>
		                <div class="ibox-tools">
	                    	<h4 th:if="${course.active}" class="sbf">Aktiv &nbsp&nbsp<img src="/img/active-circle.png"></img></h4>
	                    	<h4 th:if="${!course.active}" class="sbf">Inaktiv &nbsp&nbsp<img src="/img/inactive-circle.png"></img></h4>
		                </div>
	                </div>
	                <div class="sbf-panel-row clickable" onclick="searchResultService.lockToNavbar(this)" th:attr="data-id=${course.id}, data-type=${course.type}, data-header=${course.partyHeader}">
	                	<span style="font-weight: bold; font-size: 18px;" th:utext="${course.partyHeader}" th:classappend="${!course.active} ? sbf-inactive : ''"> </span>
	                </div>
	                <div class="row sbf-panel-row clickable" onclick="searchResultService.lockToNavbar(this)" th:attr="data-id=${course.id}, data-type=${course.type}, data-header=${course.partyHeader}">
                		<h4 class="sbf" th:classappend="${!course.active} ? sbf-inactive : ''">Næste møde:</h4>
	                </div>
	                <a class="collapse-link">
		                <div class="row sbf-panel-row">
	                		<span th:if="${course.nextMeeting != null}" th:text="${#temporals.format(course.nextMeeting,'dd-MM-yyyy')}" th:classappend="${!course.active} ? sbf-inactive : ''"></span>
	                		<span th:if="${course.nextMeeting == null && course.active}" ><img src="/img/alert-triangle.png"></img> &nbsp Intet møde planlagt</span>
	                		<span th:if="${course.nextMeeting == null && !course.active}" class="sbf-inactive">Intet møde planlagt</span>
	                		<span style="position: absolute; right: 25px; text-align:right"><i class="fa fa-chevron-up"></i></span>
		                </div>
                	</a>
	            </div>
	            <div class="ibox-content ibox-content-sbf">
	                <div class="panel-body">
	                	<div class="row clickable" onclick="searchResultService.lockToNavbar(this)" th:attr="data-id=${course.id}, data-type=${course.type}, data-header=${course.partyHeader}">
	                		<div class="col-sm-6">
		                		<h4 class="sbf">Parter:</h4>
		                		<div th:each="party : ${course.parties}">
		                			<span th:text="${party.name} + ' ' + ${party.surname}"></span>
		                			<span th:if="${party.show16 && party.sixteenYearMeetingHeld}" class="green" title="16-års møde afholdt" style="padding-right: 5px;">16</span>
									<span th:if="${party.show16 && !party.sixteenYearMeetingHeld}" class="red" title="16-års møde ikke afholdt" style="padding-right: 5px;">16</span>
									<span th:if="${party.show18 && party.eighteenYearMeetingHeld}" class="green" title="17,5-års møde afholdt" style="padding-right: 5px;">18</span>
									<span th:if="${party.show18 && !party.eighteenYearMeetingHeld}" class="red" title="17,5-års møde ikke afholdt" style="padding-right: 5px;">18</span>
									<img th:if="${party.consentDate!=null}" src="/img/consent.png" title="Samtykke givet" style="padding-right: 5px;"></img>
									<img th:if="${party.consentDate==null}" src="/img/not-consent.png" title="Samtykke ikke givet" style="padding-right: 5px;"></img>
		                		</div>
		      				</div>
		      				<div class="col-sm-6">
		      					<h4 class="sbf">Start dato:</h4>
		      					<span th:text="${#temporals.format(course.startDate,'dd-MM-yyyy')}"></span>
		      				</div>
	                	</div>
	                </div>
	            </div>
			</div>
		</div>
</th:block>

<th:block th:fragment="searchResultScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var searchResultService;
		$(document).ready(function() {
			searchResultService = new SearchResultService();
		});
		
		function SearchResultService() {
			this.init = function() {
				//Copied from INSPINIA http://webapplayers.com/inspinia_admin-v2.9.4/js/inspinia.js
				//Collapse ibox function
			 	$('.collapse-link').on('click', function (e) {
			        e.preventDefault();
			        var ibox = $(this).closest('div.ibox');
			        var button = $(this).find('i');
			        var content = ibox.children('.ibox-content');
			        content.slideToggle(200);
			        button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
			        ibox.toggleClass('').toggleClass('border-bottom');
			        setTimeout(function () {
			            ibox.resize();
			            ibox.find('[id^=map-]').resize();
			        	}, 50);
			    });
			}
			
			this.lockToNavbar = function(element) {
				var id = $(element).data("id");
				var type = $(element).data("type");
				var header = $(element).data("header");
				$.ajax({
					url : baseUrl + "rest/course/locktonavbar?type=" + type + "&header=" + header + "&id=" + id,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {	
						 $("#navCourseType").text(type);
						 $("#navCourseHeader").html(header);
						 if (type == 'Flerpartsforløb') {
							 $("#navTypeImg").attr("src", "/img/users.png")
						 } else {
							 $("#navTypeImg").attr("src", "/img/user.png") 
						 }
						 
						 $("#navCourseLink").attr("href", "/course?courseId=" + id);
						 $("#navProgressLink").attr("href", "/progress?courseId=" + id);
						 $("#navInvitationLink").attr("href", "/invite?courseId=" + id);
						 $("#navSummaryLink").attr("href", "/summary?courseId=" + id);
						 $("#navJournalizeLink").attr("href", "/journalize?courseId=" + id);
						 
						 $("#tempNavLi").attr('hidden', false);

						 // make fade in animation when selecting course
						 $("#selectedCourse").addClass("fadeIn");
						 setTimeout(function(){
							  $("#selectedCourse").removeClass("fadeIn");
						  }, 500);

					},
					error: function(jqXHR, textStatus, error) {
						switch (jqXHR.status) {
							case 400:
								toastr.warning(jqXHR.responseText);
								break;
							default:
								toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
								break;
						}
					}
				});
			}
		}

		/*]]>*/
	</script>
</th:block>