<th:block th:fragment="searchResult" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:if="${not #lists.isEmpty(subGoals)}" th:each="subGoal : ${subGoals}" class="col-sm-6">
		<div class="ibox ibox-sbf sub-goal-box">
			<div class="ibox-content ibox-content-sbf-no-collapse sbf-textarea-backround sub-goal-box ibox-content-sbf-no-title">
				<div class="row" style="padding: 15px !important;">
					<div class="label-input-row col-lg-12">
						<label class="sbf">Delmål - succes: <a th:replace="fragments/help :: help (title='Tegn på Succes', content='Hvilken adfærd ville være et tegn på succes')" /></label>
						<br>
						<span th:if="${subGoal.title == '' || subGoal.title == null}" th:id="'titleSpan' + ${subGoal.id}" hidden>
							<span th:id="'titleTextSpan' + ${subGoal.id}" style="font-size: 26px !important;" th:text="${subGoal.title}"></span>
							<img th:onclick="'subGoalsFragmentService.editTitle(' + ${subGoal.id} + ')'" src="/img/edit-small.png">
						</span>
						<span th:unless="${subGoal.title == '' || subGoal.title == null}" th:id="'titleSpan' + ${subGoal.id}">
							<span th:id="'titleTextSpan' + ${subGoal.id}" style="font-size: 26px !important;" th:text="${subGoal.title}"></span>
							<img th:onclick="'subGoalsFragmentService.editTitle(' + ${subGoal.id} + ')'" src="/img/edit-small.png">
						</span>
						<input th:if="${subGoal.title == '' || subGoal.title == null}" th:id="'titleInput' + ${subGoal.id}" maxlength="255" type="text" th:value="${subGoal.title}" class="form-control sbf sbf-white sub-goal-title" th:attr="data-id=${subGoal.id}" style="margin-bottom: 0px !important;">
	  					<input th:unless="${subGoal.title == '' || subGoal.title == null}" th:id="'titleInput' + ${subGoal.id}" maxlength="255" type="text" th:value="${subGoal.title}" class="form-control sbf sbf-white sub-goal-title" th:attr="data-id=${subGoal.id}" style="margin-bottom: 0px !important;" hidden>
						<br>
						<label class="sbf">Tiltag - aktivitet: <a th:replace="fragments/help :: help (title='Tiltag', content='Hvilke tiltag ville hjælpe den ønskede adfærd på vej?')" /></label>
						<input type="text" th:attr="data-id=${subGoal.id}" maxlength="255" th:value="${subGoal.action}" class="form-control sbf sbf-white sub-goal-action">
						
						<label class="sbf">Ansvarlig:</label>
						<div class='input-group' th:each="participant : ${subGoal.selected}">
			               <input class="form-control sbf sbf-white" type="text" th:value="${participant.textString}" style="height: 36px !important; border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; margin-bottom: 10px !important; background-color: white !important; cursor: default;" readonly/>
			               <span class="input-group-addon sbf sbf-white-date" style="height: 36px !important; cursor: pointer;">
			               		<em class="fa fa-minus sbf remove-responsible" th:attr="data-subgoalid=${subGoal.id}, data-id=${participant.id}, data-type=${participant.type}"></em>
			               </span>
			            </div>
			            <select class="form-control sbf white select-responsible" style="height: 36px !important; cursor: pointer;">
			            	<option th:if="${#lists.size(subGoal.selected) == 0}" value="-1">Tilføj en ansvarlig</option>
			            	<option th:unless="${#lists.size(subGoal.selected) == 0}" value="-1"></option>
			            	<option th:each="participant : ${subGoal.possible}" th:text="${participant.textString}" th:value="${participant.id}"  th:attr="data-subgoalid=${subGoal.id}, data-type=${participant.type}"></option>
			            </select>
						
						<div class="row" style="padding: 15px !important;">
							<div class="label-input-row col-lg-6">
								 <label class="sbf">Mødedato for dette tværfaglige teammøde</label>
						         <input class="sbf-date date form-control sbf-white-date" th:attr="data-id=${subGoal.id}" th:value="${subGoal.dateString}" autocomplete="off"/>
							</div>
							
							<div class="label-input-row col-lg-6">
								 <label class="sbf">Afslut tiltag</label>
								 <button th:onclick="'endSubGoalFragmentService.openEndSubGoalModal(' + ${subGoal.id} + ')'" class="btn sbf-white green-text col-lg-12">Afslut</button>
							</div>
						</div>
						
						
						<div class="row" style="padding: 15px !important;">
							<span class="sbf form-control party-modal-input col-lg-9" style="border: none !important; border-bottom: 1px solid !important; padding-left: 0px !important; border-color: #91A6CE !important; background-color: #EFF5F4 !important; display: flex; justify-content: space-between;" >
	    						<span>Er dette en prøvehandling?
	    							<a th:replace="fragments/help :: help (title='Er dette en prøvehandling?', content='Vi vil gerne prøve en indsats, som vi ikke har iværksat før.')" />
	    						</span>
	    						<input th:id="'trialActionInitiated' + ${subGoal.id}" th:attr="data-id=${subGoal.id}" type="checkbox" class="i-checks trialActionInitiated" th:checked="${subGoal.trialActionInitiated}">
	    					</span>
	    					<a class="sbf" target="_blank" th:href="@{__${@SBFConfiguration.links.downloadTrialActionForm}__}" >Tryk på link og udfyld prøvehandling</a>
						</div>
    					
						<span class="sbf form-control party-modal-input col-lg-9" style="border: none !important; border-bottom: 1px solid !important; padding-left: 0px !important; border-color: #91A6CE !important; background-color: #EFF5F4 !important; display: flex; justify-content: space-between;">
							<span>Spørgsmål til ledelsesmæssig afklaring?
								<a th:replace="fragments/help :: help (title='Spørgsmål til ledelsesmæssig afklaring?', content='Hvis der fx er tvivlsspørgsmål eller uenighed i teamet')" />
							</span>
							<input th:id="'trialActionApproved' + ${subGoal.id}" th:attr="data-id=${subGoal.id}" type="checkbox" class="i-checks trialActionApproved" th:checked="${subGoal.trialActionApproved}">
						</span>
						<a class="sbf" target="_blank" th:href="@{__${@SBFConfiguration.links.managementResolveForm}__}" >Tryk på link og udfyld webblanket</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="ibox ibox-sbf">
	        <div class="ibox-content ibox-content-sbf-no-title ibox-button sub-goal-box" style="height: 490px !important; position: relative !important;" onclick="subGoalsFragmentService.addSubGoal();">
	        	<span class="center" style="font-size: 16px !important;"><img src="/img/addIcon-big.png">&nbsp Tilføj delmål – succes</span>
	        </div>
	    </div>
	</div>
</th:block>

<th:block th:fragment="subGoalsScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/
		
		var subGoalsFragmentService;
		var globalGoalId;
		$(document).ready(function() {
			subGoalsFragmentService = new SubGoalsFragmentService();
		});
		
		function SubGoalsFragmentService() {
			this.init = function(goalId) {
				globalGoalId = goalId;
				
				$('[data-toggle="popover"]').popover();
				$('.i-checks').iCheck({
					checkboxClass: 'icheckbox_square-green',
					radioClass: 'iradio_square-green',
				});
				$('.date').datepicker({
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					weekStart: 1,
					format: "dd-mm-yyyy",
					orientation: "bottom",
					enableOnReadonly: false,
					language: "da"
				});
				
				//listeners
				$('.sub-goal-action').on('blur', function(e) {
					subGoalsFragmentService.saveAction(this.value, $(this).data("id"))
				});
				
				$('.date').change(function(){
					subGoalsFragmentService.saveStartDate(this.value, $(this).data("id"));
			    });
				
				$('.trialActionInitiated').on('ifChecked', function(event){
					subGoalsFragmentService.saveTrialActionInitiated(true, $(this).data("id"));
				});
				
				$('.trialActionInitiated').on('ifUnchecked', function(event){
					subGoalsFragmentService.saveTrialActionInitiated(false, $(this).data("id"));
				});
				
				$('.trialActionApproved').on('ifChecked', function(event){
					subGoalsFragmentService.saveTrialActionApproved(true, $(this).data("id"));
				});
				
				$('.trialActionApproved').on('ifUnchecked', function(event){
					subGoalsFragmentService.saveTrialActionApproved(false, $(this).data("id"));
				});
				
				$('.remove-responsible').on('click', function(e) {
					subGoalsFragmentService.removeResponsible($(this).data("subgoalid"), $(this).data("id"), $(this).data("type"));
				});
				
				$('.select-responsible').on('change', function(e) {
					subGoalsFragmentService.addResponsible($(this).find(":selected").data("subgoalid"), $(this).find(":selected").val(), $(this).find(":selected").data("type"));
				});
				
				//listener
				$('.sub-goal-title').on('blur', function(e) {
					subGoalsFragmentService.saveTitle(this.value, $(this).data("id"))
				});
			}
			
			this.editTitle = function(id) {
				$('#titleSpan' + id).attr('hidden', true);
				$('#titleInput' + id).attr('hidden', false);
				
				$('#titleInput' + id).focus();
			}
			
			this.saveTitle = function (title, id) {
				$.ajax({
					url : baseUrl + 'rest/summary/subgoals/savetitle/' + id,
					type : 'post',
					data : title,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						toastr.success("Titlen er gemt");
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
				
				$('#titleTextSpan' + id).text(title);
				$('#titleSpan' + id).attr('hidden', false);
				$('#titleInput' + id).attr('hidden', true);
			}
			
			this.saveAction = function (action, id) {
				$.ajax({
					url : baseUrl + 'rest/summary/subgoals/saveaction/' + id,
					type : 'post',
					data : action,
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						toastr.success("Tiltaget er gemt");
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveStartDate = function (date, id) {
				var splitDate = date.split("-");
				if (splitDate != "" && (date.length > 10 || splitDate.length !=3 || splitDate[0].length > 2 || splitDate[1].length > 2 || splitDate[2].length > 4 || !/^-?\d+$/.test(splitDate[0]) || !/^-?\d+$/.test(splitDate[1])|| !/^-?\d+$/.test(splitDate[2]))) {
					toastr.warning("Datoen kan ikke gemmes, da den er ugyldig");
					return;
				}
				
				$.ajax({
					url : baseUrl + 'rest/summary/subgoals/savestartdate/' + id +"?date=" + date,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						toastr.success("Datoen er gemt");
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveTrialActionInitiated = function (checked, id) {
				$.ajax({
					url : baseUrl + 'rest/summary/subgoals/savetrialactioninitiated/' + id +"?checked=" + checked,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						subGoalService.loadSubGoalsFragment(globalGoalId);
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.saveTrialActionApproved = function (checked, id) {
				$.ajax({
					url : baseUrl + 'rest/summary/subgoals/savetrialactionapproved/' + id +"?checked=" + checked,
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						subGoalService.loadSubGoalsFragment(globalGoalId);
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.removeResponsible = function (subGoalId, id, type) {
				$.ajax({
					url : baseUrl + 'rest/summary/subgoal/' + subGoalId + '/removeresponsible',
					type : 'post',
					data : JSON.stringify({
						id: id,
						type: type
					}),
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						subGoalService.loadSubGoalsFragment(globalGoalId);
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.addResponsible = function (subGoalId, id, type) {
				$.ajax({
					url : baseUrl + 'rest/summary/subgoal/' + subGoalId + '/addresponsible',
					type : 'post',
					data : JSON.stringify({
						id: id,
						type: type
					}),
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						subGoalService.loadSubGoalsFragment(globalGoalId);
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
			
			this.addSubGoal = function () {
				$.ajax({
					url : baseUrl + 'rest/summary/goal/' + globalGoalId + '/addsubgoal',
					type : 'post',
					contentType: 'application/json',
					headers: {
						'X-CSRF-TOKEN': token
					},
					success : function(response) {
						subGoalService.loadSubGoalsFragment(globalGoalId);
					},
					error: function(jqXHR, textStatus, error) {
						toastr.warning('<span style="font-size: 14px">Teknisk fejl</span><br/><br/><span style="font-size: 13px">' + jqXHR.responseText + '</span>');
					}
				});
			}
		}

		/*]]>*/
	</script>
</th:block>