<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-12">
						<div class="middle-box text-center animated fadeInDown">
							<h1 style="font-size: 40px;">Noget gik galt <em class="fa fa-frown-o"></em></h1>
					
							<div th:if="${errorMessage == '' || errorMessage == null}" class="error-desc">
								Der opstod en teknisk fejl. Forsøg igen, og hvis fejlen fortsat opstår,
								så kontakt din it-afdeling.
							</div>
							<div th:unless="${errorMessage == '' || errorMessage == null}" class="error-desc" th:text="${errorMessage}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
