<!DOCTYPE html>
<html>
<body>
	<nav th:fragment="navbar-header" class="navbar navbar-static-top" role="navigation" style="color: #000000 !important; background-color: #FDFEFF !important;">
        <div class="navbar-header">
        </div>
        
        <ul class="nav sbf-navbar navbar-top-links navbar-right" sec:authorize="isAuthenticated()" >
            <li>
                <a href="/saml/logout">
                	<img src="/img/logout.png">
                </a>
            </li>
        </ul>

    </nav>

	<nav th:fragment="navbar-aside" class="navbar-default navbar-static-side navbar-expand" role="navigation" style="color: #000000 !important; background-color: #FDFEFF !important;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(1, 0, 0, 0.19);">
        <div class="sidebar-collapse">
            <ul class="nav sbf-navbar metismenu" id="side-menu" >
            	<li class="nav-header">
					<div style="margin-right:50px">
						<img class="nav-logo" src="/img/circles.png">
						<div style="font-size:18px;text-align:right">Sammehængende<br/>Borgerforløb</div>
					</div>
            	</li>
                <li>
                    <a href="/" class="nav-box-top"><div class="nav-box-top" th:classappend="${page == 'courses'} ? 'nav-single-active' : ''"> <span class="nav-label"><img th:unless="${page == 'courses'}" src="/img/home-blue.png"> <img th:if="${page == 'courses'}" src="/img/home-white.png"> &nbsp &nbsp Borgerforløb </span></div></a>
                </li>
                <li th:if="${session.courseId != null}" class="animated" id="selectedCourse">
                    <a href="#" class="nav-box-top">
                    	<div class="nav-box-top no-collapse" >
                    		<img id="navTypeImg" style="display: inline;" th:if="${session.courseType == 'Flerpartsforløb'}" src="/img/users.png" height="20px"></img> <img id="navTypeImg" style="display: inline;" th:if="${session.courseType == 'Enkeltpartsforløb'}" src="/img/user.png" height="20px"></img> <h4 style="display: inline;" class="sbf" id="navCourseType" th:text="${session.courseType}"></h4>
                    		</br> 
                    		<span style="font-weight: bold; font-size: 18px;" id="navCourseHeader" th:utext="${session.courseHeader}"> </span>
                    		
                    	</div>
                    </a>
                    <ul class="nav sbf-navbar nav-second-level in" aria-expanded="true">
                       	<li>
                       		<a id="navCourseLink" th:href="'/course?courseId=' + ${session.courseId}">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'course'}" src="/img/deltagerkreds.png"></img>
                       				<img th:if="${page == 'course'}" src="/img/deltagerkreds-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'course'} ? 'nav-active' : ''">Forløbsoverblik</span>
                       		</a>
                       	</li>
                      	<li>
                      		<a id="navProgressLink" th:href="'/progress?courseId=' + ${session.courseId}">
                      			<span class="fw-img">
                      				<img th:unless="${page == 'progress'}" src="/img/fremskridt.png"></img>
                      				<img th:if="${page == 'progress'}" src="/img/fremskridt-green.png"></img>
                      			</span>&nbsp 
                      			<span th:classappend="${page == 'progress'} ? 'nav-active' : ''">Fremskridt</span>
                      		</a>
                      	</li>
                       	<li>
                       		<a id="navInvitationLink" th:href="'/invite?courseId=' + ${session.courseId}">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'invite'}" src="/img/invitation.png"></img>
                       				<img th:if="${page == 'invite'}" src="/img/invitation-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'invite'} ? 'nav-active' : ''">Mødeinvitation</span>
                       		</a>
                       	</li>
                       	<li>
                       		<a id="navSummaryLink" th:href="'/summary?courseId=' + ${session.courseId}">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'summary'}" src="/img/referat.png"></img>
                       				<img th:if="${page == 'summary'}" src="/img/referat-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'summary'} ? 'nav-active' : ''">Borgerplanen</span>
                       		</a>
                       	</li>
                       	<li>
                       		<a id="navJournalizeLink" th:href="'/journalize?courseId=' + ${session.courseId}">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'journalize'}" src="/img/følgebrev.png"></img>
                       				<img th:if="${page == 'journalize'}" src="/img/følgebrev-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'journalize'} ? 'nav-active' : ''">Send og journaliser</span>
                       		</a>
                       	</li>
                    </ul>
                    
                </li>
                <li th:unless="${session.courseId != null}" id="tempNavLi" hidden>
                    <a href="#" class="nav-box-top">
                    	<div class="nav-box-top no-collapse" >
                    		<img id="navTypeImg" style="display: inline;" th:if="${session.courseType == 'Flerpartsforløb'}" src="/img/users.png" height="20px"></img> <img id="navTypeImg" style="display: inline;" th:if="${session.courseType == 'Enkeltpartsforløb'}" src="/img/user.png" height="20px"></img> <h4 style="display: inline;" class="sbf" id="navCourseType" th:text="${session.courseType}"></h4>
                    		</br> 
                    		<span style="font-weight: bold; font-size: 18px;" id="navCourseHeader" th:text="${session.courseHeader}"> </span>
                    		
                    	</div>
                    </a>
                    
                    <ul class="nav sbf-navbar nav-second-level in" aria-expanded="true">
                       	<li>
                       		<a id="navCourseLink" href="#">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'course'}" src="/img/deltagerkreds.png"></img>
                       				<img th:if="${page == 'course'}" src="/img/deltagerkreds-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'course'} ? 'nav-active' : ''">Forløbsoverblik</span>
                       		</a>
                       	</li>
                      	<li>
                      		<a id="navProgressLink" href="#">
                      			<span class="fw-img">
                      				<img th:unless="${page == 'progress'}" src="/img/fremskridt.png"></img>
                      				<img th:if="${page == 'progress'}" src="/img/fremskridt-green.png"></img>
                      			</span>&nbsp 
                      			<span th:classappend="${page == 'progress'} ? 'nav-active' : ''">Fremskridt</span>
                      		</a>
                      	</li>
                       	<li>
                       		<a id="navInvitationLink" href="#">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'invite'}" src="/img/invitation.png"></img>
                       				<img th:if="${page == 'invite'}" src="/img/invitation-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'invite'} ? 'nav-active' : ''">Mødeinvitation</span>
                       		</a>
                       	</li>
                       	<li>
                       		<a id="navSummaryLink" href="#">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'summary'}" src="/img/referat.png"></img>
                       				<img th:if="${page == 'summary'}" src="/img/referat-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'summary'} ? 'nav-active' : ''">Borgerplanen</span>
                       		</a>
                       	</li>
                       	<li>
                       		<a id="navJournalizeLink" href="#">
                       			<span class="fw-img">
                       				<img th:unless="${page == 'journalize'}" src="/img/følgebrev.png"></img>
                       				<img th:if="${page == 'journalize'}" src="/img/følgebrev-green.png"></img>
                       			</span>&nbsp 
                       			<span th:classappend="${page == 'journalize'} ? 'nav-active' : ''">Send og journaliser</span>
                       		</a>
                       	</li>
                    </ul>
                    
                </li>
            </ul>
        </div>
        <div class="nav-logo-bottom-center">
	        <img class="nav-logo" src="/img/logo.png" />
	    </div>
  	</nav>
		
</body>
</html>
